*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}


// header,
section {
  padding: 3rem 0;
  @media (min-width: 40em) {
    // header,
    section {
      padding: 7rem 0;
    }
  }
}

.text-center {
  text-align: center;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.container {
  margin-inline: auto;
  width: calc(min(90%, 70.5rem));
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

ul {
  display: inline-block;
  text-align: left;
  }
