.blog-title {
  h2 {
  font-size: 22px;
  font-weight: 300;
  /* letter-spacing: 0.2px; */
  text-align: center;
  }
}

.entry-div {
  display: block;
  width: 24px;
  height: 2px;
  background: #161616;
  margin: 10px auto 15px;
}



.blog-grid {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-gap: 50px;

   &__main {

    padding: 0 20px;

    img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0
    }
  }
}

.blog-grid__side {

  // background-color: #f3f3f3;

  p {
    font-size: 14px;
  }

  a {
    color: #373737;
    font-size: 14px;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }

  &__services {

    ul {
      list-style-type: none;
      padding: 0;
      line-height: 1.6;
      }
  }

  &__contact {

    i {
      color: #4e4190;
      font-size: 16px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

  }
}


.widget-title {
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    background: $primary-backround;
    color: #fff;
    font-size: .7333rem;
    padding: 13px 5px;
    position: relative;
    margin: 0 0 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;

  }
  .blog-title {
    width: 100%;

    h2 {
    font-size: 1.25rem;
    }

  }

  .blog-grid__side {

    &__about {
      display: none;
    }

    &__services {
      display: none;
    }

    &__contact {
      display: none;
    }
  }
}
