.admin-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.admin-buttons {
  display: grid;
  place-content: center;

  a {
    margin-right: 20px;
    text-align: center;
  }
}
