.gabinety {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.gabinety__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  img {
    object-fit: cover;
    display: block;
    height: 400px;
    padding: 20px;
  }
}
