// Specific CSS for your home-page
.home {
  height: 100vh;
}

body {
  color: #373737;
  background-color: #fff;
}

//**titles**//
.top {
  margin-top: 40px;
}

.section-titles {
  text-align: center;
  text-transform: uppercase;
}

.section-titles hr {
  height: 6px;
  width: 80px;
  background: $purple;
  margin-bottom: 40px;
}

//**o nas section**//
.about-us {
  background-color: #f3f3f3;
  padding: 40px;
}

.home-contact {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  &__text {
    width: 350px;
  }
}

.people {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;

  a {
    text-decoration: none;
    color: $text-headlines;
  }

  &__container {
    display: block;
    position: relative;
    width: 300px;
    transition: transform 500ms;
    // margin-bottom: 30px;

    img {
      display: block;
      width: 100%;
      opacity: 1;
    }
  }
}

.people__container__middle {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 16px;

  &__text {
    // width: 300px;
    color: #464654;
    font-size: 12px;
    text-align: center;
    font-family: $headers-font;
    font-weight: 200;
    padding-top: 16px;
    line-height: 1.4;
  }
}

.people__container:hover .people__container__middle {
  opacity: 1;
}

.people__name {
  text-align: center;
  padding: 20px;
  font-family: $headers-font;
  background-color: #f3f3f3;
  height: 140px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  p {
    font-weight: 200;
  }
}

//**biura section**//

.offices-section {
  // background-color: #f3f3f3;
  // padding: 40px;

  p {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.carousel-control-prev-icon {
  margin-left: -15px;
}

.carousel-control-next-icon {
  margin-right: -15px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(20px);
  transition: 0.7s all ease-in-out;
}

//review styling for carousel//
#review-carousel {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(80%);
  }
}
.review * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.review-carousel {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 250px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  &__photo {
    max-width: 100%;
    vertical-align: top;
    opacity: 0.7;
  }

  &__box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // padding: 80px 10% 15%;
    display: flex;
    align-items: center;

    &::before {
      font-family: "FontAwesome";
      content: "\201C";
      position: absolute;
      font-size: 170px;
      opacity: 0.35;
      font-style: normal;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: -2.75rem;
      left: 4rem;
    }
  }

  &__text {
    margin: 0;
    font-style: italic;
    font-size: 1em;
    font-weight: 300;
    padding: 0 100px;
    margin-left: -10px;
  }
}

//new profiles
.profile-flex {
  display: flex;

  img {
    display: block;
    width: 30%;
    opacity: 1;
  }
}

.profile-text {
  display: flex;
  flex-direction: column;
}
.profile-name {
}

.profile-categories {
}

@media screen and (min-width: 1001px) {
  .people {
    a:focus,
    a:hover {
      text-decoration: none;
      color: $text-headlines;
    }
  }

  .people {
    &__container:hover,
    &__container:focus {
      transform: scale(1.3);
      z-index: 1;
    }

    .people__container {
      width: 350px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .home-contact__text {
    padding-bottom: 30px;
  }

  .card {
    padding-top: 20px;
  }

  .carousel-item img {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  section {
    padding: 2rem 0;
  }

  .section-titles h1 {
    font-size: 2rem;
  }

  .top {
    margin-top: 40px;
  }

  .about-us {
    text-align: center;
    padding: 40px 20px;
  }

  .people {
    flex-direction: column;
  }

  .people__container {
    width: 100%;
    justify-content: center;

    &__middle {
      display: none;
    }
  }

  .review-carousel__text {
    padding: 0 60px;
  }
}
