// Specific CSS for your home-page
body {
  color: #373737;
  background-color: #fff;
}

// section {
//   margin-bottom: 70px;
// }

.section-titles {
  text-align: center;
  // padding-top: 2rem;
}

.section-titles hr {
  height: 6px;
  width: 80px;
  background: #4e4190;
  margin-bottom: 40px;
}

.work-section {
  background-color: #f3f3f3;
  padding: 40px;
}

.about-me-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // grid-template-columns: auto-fit, minmax(300px, 1fr);
}

.about-me-section-text {
   align-self: center;
   padding-right: 30px;

   p {
    margin-top: 70px;
   }
}

.about-me-section img {
  display: block;
  object-fit: cover;
  width: 100%;
}


.about-me-section-btn {
  margin: 40px 0px;
}

@media screen and (max-width: 1000px) {

  // .section {
  // padding-top: 3rem;
  // }

  .about-me-section {
   grid-template-columns: 1fr;
  }

  .about-me-section-text {
    text-align: center;
    padding: 10px;


    p {
      margin-top: 10px;
    }
  }

  .card {
    padding-top: 20px;
  }

}

@media screen and (max-width: 576px) {
  section {
  padding-top: 3rem;
  }

  .banner-img  {
    height: auto;
  }

  .banner-text {
    display: none;
  }

  .banner-title h1 {
    font-size: 2rem;
  }

  .section-titles h1 {
    font-size: 2rem;
  }

  .work-section {
    padding: 30px 15px;
  }

  .carousel-item img {
    height: auto;
  }
}
