.banner-offer {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("konsultacja.jpg");
  // /* Position and center the image to scale nicely on all screens */
  // display: block;
  // max-width: 100%;
  // display: flex;
  // justify-content: center;
  // position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("konsultacja.jpg");

  /* Set a specific height */
  height: 400px;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

.banner-offer-inner {
  // display: inline-block;
  // width: auto;
  // // max-width: 85%;
  // padding: 20px 25px;
  // transition: all 200ms;
  color: #464654;
  background: rgba(255, 255, 255, 0.85);
  position: relative;
  // color: white;
  max-width: 50em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  line-height: 1.6;
}
