.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

.contact-way {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  transition: transform 1s ease;
  width: 300px;

  p {
    font-weight: 200;
  }

  img {
    width: 150px;
    padding: 30px;
  }

  i {
    color: #4e4190;
    font-size: 30px;
    margin: 20px;
  }

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.contact-info {
  font-family: $headers-font;
  font-weight: 200;
  font-size: 1rem;
  padding-bottom: 1em;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;

    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
}

@media only screen and (max-width: 690px) {
  .contact-way {
    width: 100%;
    margin-bottom: 25px;
  }
}



