.banner-offer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("purple.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-offer-inner {
  color: white;
  // color: #464654;
  // background: rgba(255, 255, 255, 0.85);
  position: relative;
  max-width: 50em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  line-height: 1.6;
}

.oferta-item {
  padding: 30px;
}

.contact-block {
  background: $light-gray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

  h4 {
    text-transform: uppercase;
  }


  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;

    a {
      color: inherit;
      font-size: 1.25rem;
      color: $purple;
      text-decoration: none;
    }

    i {
      color: $purple;
      margin-right: 10px;
    }
  }
}

.split-left {
  padding: 20px;
  text-align: center;
  text-decoration: none;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.split-right {
  padding: 20px;
}

.people-about__text {
  .btn-cards {
    color: white;
  }

  .btn-cards:hover {
    color: $primary-backround;;
  }
}

@media screen and (max-width: 576px) {
  .banner-offer {
    height: 470px;
  }
}
