.banner-offer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("purple.png");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-offer-inner {
  color: white;
  position: relative;
  max-width: 50em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  line-height: 1.6;
}

.section-subpages {
  padding: 2rem 0;
}

.oferta-subpages {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;

  img {
    display: block;
    max-width: 100%;
  }
}


.oferta-subpages_text h2 {
  font-size: 1.25rem;
}

.oferta-subpages__contact {
  padding: 0 30px;
}

.contact-block {
  background: $light-gray;
  padding: 20px;
  border: 5px solid $purple;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);

  h4 {
    text-transform: uppercase;
  }


  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;

    a {
      color: inherit;
      font-size: 1.25rem;
      color: $purple;
      text-decoration: none;
    }

    i {
      color: $purple;
      margin-right: 10px;
    }
  }
}

.oferta-subpages__people {
  padding: 20px;
  text-align: center;
  text-decoration: none;

  h4 {
    font-family: $headers-font;
    font-weight: 300;
    transition: font-weight 0.3s ease;
    padding-bottom: 16px;
  }

  h4:hover {
    font-weight: 600;
    color: $purple;
  }

  i {
    margin-right: 16px;
    color: $purple;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    cursor: pointer;
  }
}

.people-about__text {
  .btn-cards {
    color: white;
  }

  .btn-cards:hover {
    color: $primary-backround;;
  }
}

@media screen and (max-width: 1000px) {

  .section-subpages {
    padding: 0;
  }

  .oferta-subpages {
    grid-template-columns: 1fr;
    row-gap: 40px;

    img {
      padding: 1rem 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .banner-offer {
    height: 470px;
  }
}
