.oferta img  {
    display: block;
    max-width: 100%;
  }

.oferta_grid {
   display: grid;
   justify-content: center;
   align-items: start;
   margin: auto;
   grid-template-columns: 1fr 1fr;
   column-gap: 60px;
   row-gap: 120px;
   grid-template-areas:
   "photo_one text_one"
   "text_two photo_two"
   "photo_three text_three"
   "text_four photo_four"
   "photo_five text_five";
}

.oferta_grid_photo_one {
  grid-area: photo_one;
}

.oferta_grid_text_one {
  grid-area: text_one;
}

.oferta_grid_photo_two {
  grid-area: photo_two;
}

.oferta_grid_text_two {
  grid-area: text_two;
}

.oferta_grid_photo_three {
  grid-area: photo_three;
}

.oferta_grid_text_three {
  grid-area: text_three;
}

.oferta_grid_photo_four {
  grid-area: photo_four;
}

.oferta_grid_text_four {
  grid-area: text_four;
}

.oferta_grid_photo_five {
  grid-area: photo_five;
}

.oferta_grid_text_five {
  grid-area: text_five;
}

.oferta-btn {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}


@media screen and (max-width: 1000px) {

  .oferta_grid {
   grid-template-columns: 1fr;
   row-gap: 40px;
   grid-template-areas:
   "text_one"
   "photo_one"
   "text_two"
   "photo_two"
   "text_three"
   "photo_three"
   "text_four"
   "photo_four"
   "text_five"
   "photo_five";

   img {
    margin-bottom: 40px;
   }
 }
}

@media screen and (max-width: 576px) {
  .oferta-btn {
    flex-direction: column;
    margin-top: 0px;

    .btn-cards, .btn-back {
      margin: 10px;
    }
  }
}
