.grey-box {
  padding: 60px;
  background-color: #f3f3f3;
  margin: 0;

  p {
    padding: 10px 0px;
    text-align: center;
    font-style: italic;
  }

}

.people-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;

  &__img {

    img {
    display: block;
    object-fit: cover;
    width: 100%;
    }
  }

  &__text {
    padding: 0 20px;
    align-self: center;
    h4 {
      text-align: center;
    }
  }
}


//contact
.team-contact {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;
  }


}

//Patrycja page
.patrycja-oferta {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $headers-font;
    font-weight: 300;
    font-size: 1.25rem;
    padding-bottom: 1em;
    transition: transform 500ms;

    li {
      padding-bottom: 1em;
    }
  }

  i {
    margin-right: 5px;
  }
}

.patrycja-experience {

}




@media screen and (max-width: 767px) {
  .people-about {
    grid-template-columns: 1fr;
    padding: 0 20px;
    text-align: center;
  }
}

