// .offer-sections {
//   position: relative;
// }
.offer-sections img {
    display: block;
    max-width: 100%;
  }

  .split .offer-text {
    align-items: flex-start;
  }

  .offer-btn {
    text-align: center;
    font-size: 20px;
}