.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  &__card{
    width: 30%;
  }
}

.about-me-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  grid-template-areas:
   "doctor-image text_one"
   "doctor-image text_two";
}

.about-me-page_text-1 {
  grid-area: text_one;
  align-self: center;
  jusify-items: center;
}

.about-me-page_text-2 {
  grid-area: text_two;
}

.about-me-page_img {
  grid-area: doctor-image;
}


.about-me-page img {
  display: block;
  object-fit: cover;
  width: 80%;
  // border-radius: 50%;
}

.about-me-page h4 {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}


@media screen and (max-width: 576px) {
  // .about-me-page {
  // grid-template-columns: 1fr;
  // padding: 20px;
  // margin-top: 0px;
  // text-align: center;
  // }

  .about-me-page {
    margin-top: 0px;
    padding: 0 20px;
    text-align: center;
    grid-template-columns: 1fr;
    row-gap: 20px;
    grid-template-areas:
    "text_one"
    "doctor-image"
    "text_two";
     h1, h4 {
      padding-bottom: 10px;
      font-weight: 400;
     }

     p {
      margin-bottom: 0;
     }
  }

  .about-me-page img {
    width: 100%;
  }
}
