.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 30px;

  a {
    text-decoration: none;
  }

  &__card {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}

.team-list__card img {
  display: block;
  object-fit: cover;
  width: 100%;
}

.team-list__card__box {
  background-color: #f3f3f3;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  p {
    font-family: $headers-font;
    font-weight: 300;
    padding: 0;
  }
}

.team-list__card__btn {
  color: white;
  padding: 8px 24px;
  font-weight: bold;
  background: $primary-backround;
  transition: background 0.3s ease;
  border: 1px solid $primary-backround;
  cursor: pointer;
  border-radius: 5px;
  width: 220px;

  &:hover {
    background: white;
    border: 1px solid $primary-backround;
    color: $primary-backround;
  }
}

@media screen and (max-width: 1000px) {
  .team-list__card {
    width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .team-list {
    &__card {
      width: 100%;

      img {
        padding-top: 16px;
      }
    }
  }

  .team-list__card__box {
    height: 240px;
    justify-content: center;

    h4 {
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .break-line {
    display: block;
    height: 6px;
    width: 80px;
    background: #4e4190;
  }
}
