<section>
  <div class="container">
    <div class="section-titles">
      <h1>Edytuj Aktykuł</h1>
      <hr>
    </div>
    <%= render 'form', article: @article %>
    <%#= link_to 'Show', @article, class:"btn-back" %>
    <%= link_to 'Wróć', articles_path, class:"btn-back" %>
  </div>
</section>
