 <div id="office-space" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "biuro1.jpg", alt: "Zdjęcie biura" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "biuro2.jpg", alt: "Zdjęcie biura" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "biuro3.jpg", alt: "Zdjęcie biura" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#office-space" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Poprzedni</span>
  </a>
  <a class="carousel-control-next" href="#office-space" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Następny</span>
  </a>
</div>
