<div class="footer">
  <div class="footer-links">
    <a href="tel://+48663061717">Zadzwon</a>
    <a href="mailto:agatafilus@gmail.com">Wyslij email</a>
  </div>
  <div class=footer-address>
   <p>
    Adres <br>
    Debowa <br>
    75-750
   </p>
  </div>
  <div class="footer-copyright">
    Website Design made with <i class="fas fa-heart"></i> Agata Klus
  </div>
</div>
