<div class="footer">
  <div class="footer-contact">
    <a href="tel://+48663061717"><i class="fas fa-phone-alt"></i>+48663061717</a>
    <br>
    <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
    <br>
    <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdz nas</a>
  </div>
  <div class = "footer-menu">
      <a href="#"> / O MNIE </a>
      <br>
      <a href="#"> / OFERTA </a>
      <br>
      <a href="#"> / BLOG </a>
    </div>
</div>

