<div class="container">
  <div class="contact-icons">
    <div class="contact-way shadow-cards">
      <i class="fas fa-phone"></i>
      <p><strong>Zadzwoń do nas:</strong></p>
      <p><a href="tel://+48663061717">+48663061717</a></p>
    </div>
    <div class="contact-way shadow-cards">
      <i class="far fa-envelope"></i>
      <p><strong>Napisz do nas:</strong></p>
      <p><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></p>
    </div>
    <div class="contact-way shadow-cards">
      <i class="far fa-map"></i>
      <p><strong>Adres:</strong></p>
      <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Dębowa 29<br>75-900 Koszalin</a></p>
    </div>
    <div class="contact-way shadow-cards">
      <i class="far fa-clock"></i>
      <p><strong>Godziny otwarcia:</strong></p>
      <p>Poniedziałek – Piątek:<br> 16.00 – 20.00</p>
    </div>
    <div class="contact-way shadow-cards">
      <i class="far fa-calendar-check"></i>
      <p><strong>Zarezerwuj:</strong></p>
      <p><a href="https://www.znanylekarz.pl/grzegorz-szczeblewski/psycholog-psychoterapeuta-terapeuta/koszalin">wizytę online</a></p>
    </div>
  </div>
</div>
