<div class="contact-block">
  <h4>Umów się na wizytę:</h4>
  <div class="contact-block__list">
    <a href="tel://+48663061717"><i class="fas fa-phone-alt"></i>+48663061717</a>
    <br>
    <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
    <br>
    <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdź nas</a>
  </div>
</div>
