<nav class="navbar">
  <div class="brand-title">
  Grzegorz Szczeblewski
  </div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="#">O mnie</a></li>
      <li><a href="#">Oferta</a></li>
      <li><a href="#">Cennik</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Kontakt</a></li>
    </ul>
  </div>
</nav>