<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>CENNIK</h1>
  </div>
</section>

<section>
  <div class="container">
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja psychologiczna</td>
        <td>100 zł/50 min. </td>
      </tr>
      <tr>
        <td>Psychoterapia indywidualna </td>
        <td>100 zł/50 min. </td>
      </tr>
      <tr>
        <td>Interwencja w sytuacji kryzysu </td>
        <td>100 zł/50 min. </td>
      </tr>
    </table>
  </div>
</section>

<section>
  <div class="section-titles">
    <h2>Umów się na wizytę</h2>
    <hr>
  </div>
  <%= render 'shared/kontakt-icons' %>
</section>