<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Edyta Konopacka-Ilkiewicz</h1>
    <p>Psychopedagog, Psychoterapeuta</p>
  </div>
</section>

<section class="container">
  <div class="people-about">
    <div class="people-about__img">
      <img src="/assets/Edyta_Konopacka.jpg" alt="Edyta Konopacka-Ilkiewicz - Psychopedagog, Psychoterapeuta">
    </div>
    <div class="people-about__text">
      <p>
      Jestem psychopedagogiem oraz psychoterapeutą w procesie kształcenia w Wielkopolskiej Szkole Psychoterapii Gestalt. 
Stale się rozwijam i podnoszę swoje kwalifikacje biorąc udział w licznych formach doskonalenia zawodowego.</p>
<p>Ukończyłam m.in. Podyplomowe Studium Psychoterapii Poznawczo-Behawioralnej  dzieci i młodzieży z elementami III fali, Studia Podyplomowe z Wczesnego wspomagania rozwoju dzieci i młodzieży w spektrum autyzmu oraz Szkołę Konsultacji w nurcie Rodzicielstwa Bliskości.</p>
<p>Posiadam wieloletnie i różnorodne doświadczenie zawodowe, zarówno w  pracy z dziećmi i młodzieżą, jak i osobami dorosłymi. Współpracuję z Centrum Terapii i Leczenia Uzależnień „Anon” w Koszalinie. Swoją pracę opieram na kodeksie Etycznym Polskiego Towarzystwa Psychoterapii Gestalt i poddaję stałej superwizji.
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="grey-box">
    <p><em>W swojej pracy staram się integrować różne podejścia, tak aby jak najlepiej dostosować formę wsparcia do potrzeb klienta. Najbliższa mojemu sercu jest jednak psychoterapia w nurcie Gestalt, która zakłada, że relacja między terapeutą a klientem może być lecząca sama w sobie. W atmosferze szacunku, otwartości i akceptacji, poprzez zbudowanie zaufania oraz poczucia bezpieczeństwa, klient ma okazję przeżywania i odkrywania prawdy o sobie.</em></p>
    <p><em>Wierzę, że każdy człowiek posiada potencjał do rozwoju i poprawy swojego funkcjonowania. Do zmiany dochodzi wtedy, gdy zwiększa się samoświadomość, czyli zdawanie sobie sprawy z tego co się czuje, myśli oraz doznaje zmysłami. Zapraszam Cię w podróż, która umożliwi Tobie głębsze zrozumienie samego siebie oraz dotarcie do autentycznego Ja.</em></p>
    <p><em>Pracuję z dziećmi, młodzieżą oraz osobami dorosłymi.</em></p>
  </div>
</section>


<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
    <div class="offer-icons">
      <div class="cards">

        <div class="card shadow-cards">
          <img src="/assets/icon-konsultacja.jpg" alt="">
          <div class="card-info fade-in">
            <h2>Konsultacja Psychologiczna</h2>
          </div>
        </div>
        
        <div class="card shadow-cards">
          <img src="/assets/icon-terapia.jpg" alt="Psychoterapia Indywidualna">
          <div class="card-info fade-in">
            <h2>Terapia <br>Indywidualna</h2>
          </div>
        </div>

        <div class="card shadow-cards">
          <img src="/assets/icon-pary.png" alt="">
          <div class="card-info fade-in">
            <h2>Konsultacja rodzicielska</h2>
          </div>
        </div>

        <div class="card shadow-cards">
          <img src="/assets/icon-uzaleznienia.png" alt="">
          <div class="card-info fade-in">
            <h2>Terapia dzieci i młodzieży</h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja Psychologiczna</td>
        <td>150 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia indywidualna</td>
        <td>150 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Konsultacja rodzicielska</td>
        <td>150 zł / 50 min</td>
      </tr>
      <tr>
        <td>Terapia dzieci i młodzieży</td>
        <td>150 zł / 50 min</td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48511174561">Edyta Konopacka-Ilkiewicz<br>+48511174561</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:edyta.konopacka@gmail.com">edyta.konopacka@gmail.com</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

