<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>WYNAJEM GABINETÓW</h1>
  </div>
</section>

<section>
  <div class="gabinety container">
    <p>Jesteś psychologiem, psychoterapeutą, terapeutą, osobą szukającą miejsca do konsultacji lub gabinetu do wynajęcia w Koszalinie?
    Jeżeli tak, to oferujemy Tobie ciche, komfortowe i nowoczesne gabinety terapeutyczne zapewniające dobre samopoczucie i dogodnie usytuowane.
    Posiadamy 3 gabinety oraz sale przystosowaną do pracy grupowej. Wynajem gabinetów na godziny lub rezerwacje blokowe w godz.7-21 każdego dnia
    tygodnia.
    </p>
    <p>Wszelkie zapytania prosimy kierować na adres <strong><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></strong>
    lub <strong><a href="tel://+48663061717">+48663061717</a></strong>.<br> W ramach współpracy otrzymasz
    miejsce na naszej stronie internetowej oraz  możliwość udziału w superwizji koleżeńskiej.</p>
  </div>
</section>

<section>
  <div class="container">
    <table id="cennik">
      <tr>
        <th></th>
        <th>8:00-15:00 wybrany dzień tygodnia <br>(4 x w miesiącu)</th>
        <th>16:00-21:00 wybrany dzień tygodnia <br>(4 x w miesiącu)</th>
        <th>8:00-21:00 cały wybrany dzień tygodnia <br>(4 x w miesiącu)</th>
      </tr>
      <tr>
        <td>Duży gabinet</td>
        <td>200 zł/m-c </td>
        <td>300 zł/m-c </td>
        <td>400 zł/m-c </td>
      </tr>
      <tr>
        <td>Mały gabinet </td>
        <td>180 zł/m-c </td>
        <td>250 zł/m-c </td>
        <td>350 zł/m-c </td>
      </tr>
      <tr>
        <td>Wynajem na godziny </td>
        <td>20 zł/h </td>
        <td>20 zł/h </td>
        <td>20 zł/h </td>
      </tr>
    </table>
  </div>
</section>

<section>
  <div class="gabinety__grid">
    <div>
      <img src="/assets/office-blue1.jpg" alt="">
    </div>
    <div>
      <img src="/assets/office-green1.jpg" alt="">
    </div>
    <div>
      <img src="/assets/office-small1.jpg" alt="">
    </div>
  </div>
</section>
