<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>WYNAJEM GABINETÓW</h1>
  </div>
</section>

<section>
  <div class="gabinety container">
    <p>Jesteś psychologiem, psychoterapeutą, terapeutą, osobą szukającą miejsca do konsultacji lub gabinetu do wynajęcia w Koszalinie?
    Jeżeli tak, to oferujemy Tobie ciche, komfortowe i nowoczesne gabinety terapeutyczne zapewniające dobre samopoczucie i dogodnie usytuowane.
    Posiadamy 3 gabinety oraz sale przystosowaną do pracy grupowej. Wynajem gabinetów na godziny lub rezerwacje blokowe w godz.7-21 każdego dnia
    tygodnia.
    </p>
    <p>Wszelkie zapytania prosimy kierować na adres <strong><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></strong>
    lub <strong><a href="tel://+48663061717">+48663061717</a></strong>.<br> W ramach współpracy otrzymasz
    miejsce na naszej stronie internetowej oraz  możliwość udziału w superwizji koleżeńskiej.</p>
  </div>
</section>

<section>
  <div class="gabinety__grid">
    <div>
      <img src="/assets/gabinet2.jpg" alt="">
    </div>
    <div>
      <img src="/assets/gabinet4.jpg" alt="">
    </div>
  </div>
</section>
