<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Grzegorz Szczeblewski</h1>
    <p>Psycholog - Psychoterapeuta</p>
  </div>
</section>

<section class="container">
  <div class="people-about" id="grzegorz">
    <div class="people-about__img">
      <img src="/assets/Grzegorz_Szczeblewski.jpg" alt="Grzegorz Szczeblewski - psycholog, psychoterapeuta">
    </div>
    <div class=people-about__text>
      <p>Jestem absolwentem Szkoły Wyższej Psychologii Społecznej  Uniwersytetu Humanistycznospołecznego w Sopocie.
        Ukończyłem studia magisterskie na Wydziale Psychologii (specjalizacja kliniczna i zdrowia) oraz Szkołę Psychoterapii Osób  z Problemem Uzależnienia w Laboratorium Psychoedukacji. Aktualnie jestem
        w trakcie szkolenia w Szkole Psychoterapii Psychodynamicznej  w Krakowskim Centrum Psychodynamicznym.</p>
      <p>Doświadczenie jako psycholog zdobywałem m.in. w Szpitalu dla Nerwowo i Psychicznie Chorych w Starogardzie Gdańskim,
        Wojewódzkim Szpitalu Psychiatrycznym w Gdańsku, Wojewódzkim Centrum Onkologii w Gdańsku, Centrum Psychoterapii
        i Leczenia Uzależnień ANON w Koszalinie oraz Środkowopomorskim Centrum Zdrowia Psychicznego MEDISON w Koszalinie.</p>
        <p>Nieustannie rozwijam się i doskonalę swoje kompetencje uczestnicząc w kursach specjalistycznych. Moja praca poddawana
        jest stałej superwizji.</p>
      <p>Jestem członkiem Polskiego Towarzystwa Psychologicznego oraz Polskiego Towarzystwa Psychoterapii Psychodynamicznej.</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="grey-box">
    <p><em>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji. Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem. Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań. Psychologia jest moją pasją a, praca z ludźmi moim powołaniem.</em></p>
  </div>
</section>

<!-- jak pracuje section-->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>JAK PRACUJĘ</h2>
      <hr />
    </div>
    <div>
      <p>Pracuję w podejściu psychodynamicznym, które zostało opracowane na podstawie dorobku współczesnej psychiatrii oraz uznanych koncepcji psychoanalitycznych. Psychoterapia psychodynamiczna toczy się w oparciu o relację terapeutyczną czyli więź, jaka rozwija się pomiędzy pacjentem a terapeutą w trakcie trwania leczenia.
      <br>
      <br>
      Psychoterapeuta psychodynamiczny nie daje dobrych rad lecz stara się pomóc pacjentowi w lepszym rozumieniu jego własnych myśli, zachowań, pragnień i uczuć. W tym procesie rolą psychoterapeuty jest towarzyszenie człowiekowi w poszukiwaniu lepszych sposobów rozwiązania jego problemów niż te, które do tej pory stosował, a także wskazywanie tego, czego sam nie mógł dostrzec.
      <br>
      <br>
      Pacjent podczas terapii w gabinecie staje na drodze do lepszego poznania i zrozumienia siebie oraz wzmocnienia poczucia własnej wartości. Psychoterapia ma pomóc w przeżywaniu życia głębiej, bardziej świadomie, w doświadczaniu w pełni jego blasków i cieni.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
    <div class="offer-icons">
      <div class="cards">
        <%= link_to oferta_konsultacja_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-konsultacja.jpg" alt="Konsultacja Psychologiczna">
            <div class="card-info fade-in">
              <h2>Konsultacja<br>Psychologiczna</h2>
            </div>
          </div>
        <% end %>
        <%= link_to oferta_terapia_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-terapia.jpg" alt="Psychoterapia Indywidualna">
            <div class="card-info fade-in">
              <h2>Psychoterapia <br>Indywidualna</h2>
            </div>
          </div>
        <% end %>
        <%= link_to oferta_pomoc_kryzys_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-kryzys.jpg" alt="pomoc w sytuacji kryzysowej">
            <div class="card-info fade-in">
              <h2>Pomoc w sytuacji<br>kryzysowej</h2>
            </div>
          </div>
        <% end %>
        <%= link_to oferta_terapia_par_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-pary.png" alt="Terapia Par">
            <div class="card-info fade-in">
              <h2>Terapia par</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja psychologiczna</td>
        <td>140 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Psychoterapia indywidualna </td>
        <td>140 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Interwencja w sytuacji kryzysu </td>
        <td>160 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia Par </td>
        <td>250 zł / 1.5 h </td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48663061717">Grzegorz Szczeblewski<br>+48663061717</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
