<!-- banner section -->
<section class="banner-img">
  <div class="banner-title">
    <h1>GABINET POMOCY<br>PSYCHOLOGICZNEJ I PSYCHOTERAPII</h1>
    <h2>Grzegorz Szczeblewski</h2>
  </div>
  <div class="banner-text">
    <p>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji.<br>
        Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem.<br>
        Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań.</p>
  </div>
</section>

<!-- product offer section -->
<section>
  <div class="container">
    <div class="section-titles">
      <h1>W CZYM MOGE POMOC</h1>
      <hr />
    </div>
    <div class="cards">
      <div class="card">
        <img src="/assets/1.jpg" alt="">
        <div class="card-info">
          <h2>Konsultacja<br>Psychologiczna</h2>
          <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
          <button class="btn-cards">WIECEJ</button>
        </div>
      </div>
      <div class="card">
        <img src="/assets/2.jpg" alt="">
        <div class="card-info">
          <h2>Konsultacja<br>Psychologiczna</h2>
          <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
          <button class="btn-cards">WIECEJ</button>
        </div>
      </div>
      <div class="card">
        <img src="/assets/3.jpg" alt="">
        <div class="card-info">
          <h2>Konsultacja<br>Psychologiczna</h2>
          <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
          <button class="btn-cards">WIECEJ</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- jak pracuje section -->
<section>
  <div class="container">
    <div class="work-section">
      <div class="section-titles">
        <h2>JAK PRACUJE</h2>
        <hr />
      </div>
      <div class="container">
        <p>Pracuję w podejściu psychodynamicznym, które zostało opracowane na podstawie dorobku współczesnej psychiatrii oraz uznanych koncepcji psychoanalitycznych. Psychoterapia psychodynamiczna toczy się w oparciu o relację terapeutyczną czyli więź, jaka rozwija się pomiędzy pacjentem a terapeutą w trakcie trwania leczenia.
        <br>
        <br>
        Psychoterapeuta psychodynamiczny nie daje dobrych rad lecz stara się pomóc pacjentowi w lepszym rozumieniu jego własnych myśli, zachowań, pragnień i uczuć. W tym procesie rolą psychoterapeuty jest towarzyszenie człowiekowi w poszukiwaniu lepszych sposobów rozwiązania jego problemów niż te, które do tej pory stosował, a także wskazywanie tego, czego sam nie mógł dostrzec.
        <br>
        <br>
        Pacjent podczas terapii w gabinecie staje na drodze do lepszego poznania i zrozumienia siebie oraz wzmocnienia poczucia własnej wartości.Psychoterapia ma pomóc w przeżywaniu życia głębiej, bardziej świadomie, w doświadczaniu w pełni jego blasków i cieni.</p>
      </div>
    </div>
  </div>
</section>

<!-- about me section -->
<section>
  <div class="container">
    <div class="about-me-section">
      <div class="about-me-section-text">
        <h2>GZEGORZ SZCZEBLEWSKI</h2>
        <h4>Psycholog</h4>
        <p>Jestem absolwentem Szkoły Wyższej Psychologii Społecznej Uniwersytetu Humanistycznospołecznego w Sopocie. Ukończyłem studia magisterskie na Wydziale Psychologii/specjalizacja kliniczna i zdrowia. Aktualnie jestem w trakcie szkolenia w Szkole Psychoterapii Psychodynamicznej  w Krakowskim Centrum Psychodynamicznym.</p>
        <button class="btn-cards">WIECEJ</button>
      </div>
      <div>
        <img src="/assets/Grzegorz_Szczeblewski.jpg" alt="Grzegorz_Szczeblewski">
      </div>
    </div>
  </div>
</section>
