<!-- banner section -->
<div class=banner-img>
  <div class="banner-title">
    <h1>GABINET POMOCY<br>PSYCHOLOGICZNEJ I PSYCHOTERAPII</h1>
    <h2>Grzegorz Szczeblewski</h2>
  </div>
  <div class="banner-text">
    <p>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji.<br>
        Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem.<br>
        Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań.</p>
  </div>
</div>

<!-- product offer section -->
<div class=offer>
  <h1>W CZYM MOGE POMOC</h1>
  <hr />
</div>

<div class=container>
  <div class=cards>
    <div class=card>
      <img src="/assets/1.jpg" alt="">
      <div class="card-info">
        <h2>Konsultacja Psychologiczna</h2>
        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
        <button class="btn-cards">WIECEJ</button>
      </div>
    </div>
    <div class=card>
      <img src="/assets/1.jpg" alt="">
      <div class="card-info">
        <h2>Konsultacja Psychologiczna</h2>
        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
        <button class="btn-cards">WIECEJ</button>
      </div>
    </div>
    <div class=card>
      <img src="/assets/1.jpg" alt="">
      <div class="card-info">
        <h2>Konsultacja Psychologiczna</h2>
        <p>Ut wisi enim ad minim veniam, quis laore nostrud exerci tation ulm hedi corper turet suscipit lobortis nisl ut</p>
        <button class="btn-cards">WIECEJ</button>
      </div>
    </div>
  </div>
</div>
