<div class=banner-img>
  <div class="banner-title">
    <h1>GABINET POMOCY<br>PSYCHOLOGICZNEJ I PSYCHOTERAPII</h1>
    <h2>Grzegorz Szczeblewski</h2>
  </div>
  <div class="banner-text">
    <p>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji.<br>
        Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem.<br>
        Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań.</p>
  </div>
</div>
