<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Katarzyna Maria Zawadzka</h1>
    <p>Trenerka wystąpień publicznych</p>
  </div>
</section>

<section class="container">
  <div class="people-about">
    <div class="people-about__img">
      <img src="/assets/Katarzyna_Maria_Zawadzka.jpg" alt="Katarzyna Maria Zawadzka - Trenerka wystąpień publicznych">
    </div>
    <div class="people-about__text">
      <p>
      Jestem absolwentką Uniwersytetu Pedagogicznego im.
      Komisji Edukacji Narodowej w Krakowie. Ukończyłam
      studia magisterskie na Wydziale Pegagogika. Jestem
      również absolwentką Studia Aktorskiego "L'art" w
      Krakowie. Od 20 lat zawodowo realizuję się jako aktorka.
      Współpracowałam między innymi z Teatrem KTO w
      Krakowie oraz stacją telewizyjną TVN.
      <br/>
      <br/>
      Trenerką wystąpień publicznych, rozwoju osobistego
      przez aktorstwo i stricte aktorstwa jestem od lat 12. W tym
      czasie oprócz prowadzenia autorskich kursów,
      warsztatów i konsultacji indywidualnych, miałam
      przyjemność współpracować - jako trenerka wystąpień
      publicznych właśnie - między innymi z: Uniwersytetem
      Jagiellońskim, Akademią Ignatianum w Krakowie,
      Warszawskim Uniwersytetem Medycznym, a także z
      firmami szkoleniowymi: Akademia Osiągnięć RO-GROUP,
      MyNetwork Polska, Cognity sp. z o. o. czy fundacjami, na
      przykład: Miasto Kobiet, Fundacja Anma i wiele innych.
      Sukcesywnie podnoszę swoje umiejętności trenerskie, jak
      i aktorskie, uczestnicząc w kolejnych kursach oraz
      szkoleniach.<p/>
      <p>Najważniejsze spośród nich to te odbyte pod
      okiem trenerów z USA:<p/>
      
        <li>
          Masterclass of acting in Los Angeles; prowadzenie
          Bernard Hiller (acting & success coach)
        </li>
        <li>
          Metoda Lee Strasberga i technika aktorska Sanforda
          Meisnera; prowadzenie aktor i trener Zenon Kruszelnicki (
          Academy of Dramatic Arts, Nowy York)
        </li>
    <br/>
      Jako trenerka mam za sobą ponad 3000 godzin praktyki
  w prowadzeniu kursów/szkoleń/treningów/konsultacji
  indywidualnych z zakresu: wystąpień publicznych,
  aktorstwa, team buildingu z wykorzystaniem działań
  aktorskich, kreatywności, komunikacji werbalnej i
  pozawerbalnej oraz technik radzenia sobie z tremą.
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="grey-box">
    <p><em>To co wyróżnia moją pracę, to bazowanie na
    wykorzystywaniu działań aktorskich, jako bardzo
    skutecznych i przynoszących szybkie rezultaty i postępy.
    A także w 100% nauczanie poprzez praktyczne działanie
    angażujące: ciało, głos, umysł oraz emocje.</em></p>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja indywidualna (pojedyncza)</td>
        <td>350 zł / 90 min. </td>
      </tr>
      <tr>
        <td>Pakiet konsultacji</td>
        <td>3 sesje po 90 minut, cena 900 zł</td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48732 561 386">Katarzyna Maria Zawadzka<br>+48732 561 386</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:kmzawadzkatrener@gmail.com">kmzawadzkatrener@gmail.com</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

