<section class="banner-offer">
  <div class="banner-offer-inner">
    <h2>Konsultacja Psychologiczna</h2>
    <p>Dzięki konsultacji psychologicznej możliwe jest wstępne rozpoznanie sytuacji życiowej pacjenta oraz określenie jego problemów. Z tego względu stanowi ona stanowią wstęp do dalszego postępowania oraz terapii.</p>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <h4>Kto może skorzystać z konsultacji psychologicznych?</h4>
      <p>Najprościej ujmując każdy, kto uważa, że jej potrzebuje. Rozmowa ze specjalistą pozwala na omówienie wszelkich problemów emocjonalnych, rodzinnych i życiowych. 
      Może stanowić pierwszy krok na drodze do rozpoznania problemów oraz ich rozwiązania. Jest to jednorazowa usługa, która ma na celu poradę w zmaganiu się z problemami, 
      jednak pełne rozpoznanie może wymagać od trzech do pięciu spotkań i ma na celu postanowienie diagnozy. Dzięki której pacjent może zostać poddany leczeniu.</p>
      <h4>Jakie są przykładowe wskazania do skorzystania z konsultacji psychologicznej?</h4>
      <p>Do najczęstszych przyczyn należą problemy z kontrolowaniem emocji, utrzymujący się zły nastrój, stresy, zaburzenia lękowe, problemy ze snem, trudności związane z relacjami interpersonalnymi, 
      wypalenie zawodowe, kłopoty rodzinne lub zaburzenia emocjonalne. Powodem do skorzystania z pomocy specjalisty mogą być wszystkie problemy, które sprawiają, że pacjent odczuwa potrzebę wsparcia. 
      W tym celu można zapisać się wizytę w moim gabinecie, mieszczącym się w Koszalinie.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="split">
      <div class="split-left">
      <h4 class="text-center">Ta forma pomocy sprawdzi się gdy:</h4>
      <ul>
        <li>znalazłeś się w sytuacji, z którą nie potrafisz sobie poradzić i potrzebujesz wsparcia</li>
        <li>masz trudną sytuację i chcesz się zastanowić, co dalej</li>
        <li>czujesz, że potrzebujesz pomocy, ale nie wiesz jaka forma będzie dla Ciebie najkorzystniejsza, tzn. czy wybrać psychoterapię indywidualną, grupową czy może wcześniej udać się do lekarza psychiatry</li>
        <li>czujesz, że chciałbyś coś zmienić w swoim życiu, ale nie potrafisz tego nazwać i nie wiesz od czego zacząć.</li>
      </ul>
      </div>
      <div class="split-right text-center">
        <div class="contact-block">
          <h4>Umów się na wizytę:</h4>
          <div class="contact-block__list">
            <a href="tel://+48663061717"><i class="fas fa-phone-alt"></i>+48663061717</a>
            <br>
            <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
            <br>
            <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdz nas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

