<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>ZAPRASZAMY DO KONTAKTU</h1>
  </div>
</section>

<section>
  <%= render 'shared/kontakt-icons' %>
</section>

<section>
  <div class="section-titles">
    <h2>NASZE GABINETY</h2>
    <hr>
  </div>
  <div class="container">
    <%= render 'shared/carousel' %>
    </div>
  </div>
</section>
