<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>ZAPRASZAMY DO KONTAKTU</h1>
  </div>
</section>

<section>
  <div class="container">
    <div class="cards">
      <div class="contact-way shadow-cards">
        <i class="fas fa-phone"></i>
        <p><strong>Zadzwoń do nas:</strong></p>
        <p><a href="tel://+48663061717">+48663061717</a></p>
      </div>
      <div class="contact-way shadow-cards">
        <i class="far fa-envelope"></i>
        <p><strong>Napisz do nas:</strong></p>
        <p><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></p>
      </div>
      <div class="contact-way shadow-cards">
        <i class="far fa-map"></i>
        <p><strong>Nasz adres:</strong></p>
        <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Dębowa 29<br>75-900 Koszalin</a></p>
      </div>
      <div class="contact-way shadow-cards">
        <i class="far fa-clock"></i>
        <p><strong>Godziny otwarcia:</strong></p>
        <p>Poniedziałek – Piątek:<br> 8:00 - 21:00</p>
      </div>
    </div>
  </div>
</section>

<div class="container text-center contact-info">
  <p>
    <strong>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</strong>
  </p>
  <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
</div>

<section class="container">
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4669.583488972236!2d16.226232!3d54.183764!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627327317271!5m2!1sen!2suk" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

<section>
  <div class="section-titles">
    <h2>NASZE GABINETY</h2>
    <hr>
  </div>
  <div class="container">
    <%= render 'shared/carousel' %>
    </div>
  </div>
</section>
