<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>ZAPRASZAMY DO KONTAKTU</h1>
  </div>
</section>

<section>
  <div class="container">
    <div class="split">
      <div class="contact-way">
        <i class="fas fa-phone"></i>
        <p><strong>Zadzwoń do nas:</strong></p>
        <p><a href="tel://+48663061717">+48663061717</a></p>
      </div>
      <div class="contact-way">
        <i class="fas fa-envelope"></i>
        <p><strong>Napisz do nas:</strong></p>
        <p><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></p>
      </div>
      <div class="contact-way">
        <i class="fas fa-map-marked-alt"></i>
        <p><strong>Adres:</strong></p>
        <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"></a></p>
      </div>
      <div class="contact-way">
        <i class="fas fa-clock"></i>
        <p><strong>Godziny otwarcia:</strong></p>
        <p>Poniedziałek – Piątek: 16.00 – 20.00</p>
      </div>
      <div class="contact-way">
        <i class="fas fa-calendar-check"></i>
        <p><strong>Zarezerwuj:</strong></p>
        <p><a href="https://www.znanylekarz.pl/grzegorz-szczeblewski/psycholog-psychoterapeuta-terapeuta/koszalin">online</a></p>
      </div>
    </div>
  </div>
</section>
