<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Magdalena Łuczyk</h1>
    <p>Terapeuta - Dietetyk kliniczny - Logopeda<br>Trener TUS - Neurologopeda - Oligofrenopedagog</p>
  </div>
</section>

<section class="container">
  <div class="people-about">
    <div class="people-about__img">
      <img src="/assets/Magdalena_Luczyk.jpg" alt="Magdalena Łuczyk - Terapeuta, Dietetyk kliniczny, Logopeda, Trener TUS, Neurologopeda, Oligofrenopedagog">
    </div>
    <div class="people-about__text">
      <p>
      Jestem absolwentką Warszawskiego Uniwersytetu Medycznego oraz neurologopedą, logopedą, certyfikowanym terapeutą behawioralnym, terapeutą stosowanej analizy zachowania, oligofrenopedagogiem, trenerem umiejętności społecznych (TUS), dietetykiem klinicznym, a także terapeutą integracji sensorycznej i trenerem EEG Biofeedback. Aktualnie jestem na ostatnim etapie kształcenia w zakresie psychologii o specjalności klinicznej.
      </p>
      <p>
      Doświadczenie zdobywałam w poradniach oraz centrach diagnostyczno-terapeutycznych specjalizujących się w psychologii, dietetyce klinicznej, terapii, logopedii i neurologopedii, a także między innymi w Cambridge Diagnostics w Warszawie, Ośrodku Terapii i Uzależnień w Darżewie, Instytucie Wspomagania Rozwoju Dziecka w Gdańsku, Klinice Chorób Wewnętrznych, Endokrynologii i Gastroenterologii z Pododdziałem Leczenia Nieswoistych Chorób Zapalnych Jelit oraz w Oddziale Psychiatrii w Szpitalu Klinicznym w Warszawie.
      </p>
      <p>
      Posiadam wieloletnie doświadczenie zawodowe w zakresie prowadzenia terapii indywidualnej i grupowej dzieci oraz osób dorosłych, jako terapeuta, logopeda oraz dietetyk kliniczny. Dbając o swój rozwój zawodowy stale uczestniczę w warsztatach oraz szkoleniach. Prowadzę również szkolenia i zajęcia dla studentów między innymi na Uniwersytecie Pomorskim.
      </p>
    </div>
  </div>
</section>

<!-- jak pracuje section-->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>JAK PRACUJĘ</h2>
      <hr />
    </div>
    <div>
    <p>W gabinecie przyjmuję osoby, które chcą skorzystać z:</p>
    <ul>
      <li>konsultacji psychologicznej,</li>
      <li>konsultacji psychodietetycznej,</li>
      <li>konsultacji terapeutycznej,</li>
      <li>konsultacji neurologopedycznej,</li>
      <li>konsultacji logopedycznej.</li>
    </ul>
    <p>
      Prowadzę trening umiejętności społecznych, terapię behawioralną, stosowaną analizę zachowania i elementy integracji sensorycznej. Terapia na życzenie pacjenta może być połączona z konsultacją dietetyczną wraz z rozpisaniem planu żywieniowego.
      Do gabinetu zapraszam również osoby, które szukają pomocy w zakresie zwalczania neofobii żywieniowych, wybiórczości pokarmowych, zaburzeń odżywiania oraz możliwości i sposobów rozszerzania diety.
      
      Udzielam indywidualnego oraz grupowego wsparcia w zakresie zgłaszanych potrzeb oraz trudności. Jestem osobą cierpliwą, pełną zrozumienia i empatii oraz wsłuchującą się w to, co chce przekazać mi pacjent.
      
      Słuszny cel, do którego dąży pacjent jest moim celem terapeutycznym. Sukces pacjenta jest moim sukcesem.
      
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
   
    <div class="categories-list">
      <ul>
        <li>Konsultacja psychologiczna</li>
        <li>Konsultacja psychodietetyczna</li>
        <li>Konsultacja terapeutyczna</li>
        <li>Konsultacja logopedyczna</li>
        <li>Konsultacja neurologopedyczna</li>
      </ul>
      <ul>
        <li>Trening umiejętności społecznych</li>
        <li>Terapia behawioralna</li>
        <li>Terapia integracji sensorycznej - elementy</li>   
        <li>Terapia Indywidualna</li>
        <li>Terapia Par</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja psychologiczna</td>
        <td>100 zł / 50min </td>
      </tr>
      <tr>
        <td>Konsultacja psychodietetyczna </td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Konsultacja terapeutyczna</td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Konsultacja logopedyczna</td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Konsultacja neurologopedyczna</td>
        <td>110 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Trening umiejętności społecznych</td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia behawioralna</td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia integracji sensorycznej - elementy</td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia Indywidualna</td>
        <td>100 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia Par</td>
        <td>200 zł / 1,5 h </td>
      </tr>
      <tr>
        <td>Diagnostyka</td>
        <td>Proszę o kontakt</td>
      </tr>
      <tr>
        <td>Pomoc grupowa</td>
        <td>90 zł / 50 min.</td>
      </tr>
      <tr>
        <td>Wykład grupowy</td>
        <td>Proszę o kontakt</td>
      </tr>
      <tr>
        <td>Szkolenie</td>
        <td>Proszę o kontakt</td>
      </tr>
      <tr>
        <td>Wizyta domowa</td>
        <td>Proszę o kontakt</td>
      </tr>
      <tr>
        <td>Konsultacja telefoniczna</td>
        <td>Proszę o kontakt</td>
      </tr>

    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48790868637">Magdalena Łuczyk<br>+48790868637</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:luczykmagda@gmail.com">luczykmagda@gmail.com</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie braku kontaktu proszę o wiadomość SMS.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

