<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Małgorzata Radziwołek</h1>
    <p>Coach - Hipnoterapeutka - Pedagog</p>
  </div>
</section>
  
<section class="container">
  <div class="people-about">
    <div class="people-about__img">
      <img src="/assets/Malgorzata_Radziwolek.jpg" alt="Małgorzata Radziwołek - Coach, Hipnoterapeutka, Pedagog">
    </div>
    <div class=people-about__text>
      <p>Kim jestem? Osobą rozwijającą się z pasją, pracującą z ludźmi
      nad uwalnianiem wewnętrznego potencjału. Pedagog i hipnoterapeuta oraz praktyk NLP.</p>
      <p>Pomagam osiągać cele swoich Klientów i rozwiązywać ich
      problemy. Prowadzę sesje indywidualne i grupowe organizuję
      szkolenia z zakresu komunikacji interpersonalnej oraz technik
      hipnozy konwersacyjnej. Wciąż z zachwytem zgłębiam tajniki
      ludzkiej podświadomości. Wspieram proces zmiany i
      doświetlam ludziom drogę prowadzącą do celu.
      Moją misją jest „pomóc człowieku”.</p>
      <p><strong>Przygotowanie:</strong> Dyplomowany coach, hipnoterapeuta
      neurodynamiczny (Professional Hypnosis Training Institute),
      Certyfikowany Practices NLP w NLP Academy The Leading
      Centre of NLP Learning i Polską Akademię NLP.
      Ukończyłam również certyfikowany Kurs z psychoonkologii.
      W pracy z pacjentem wspierają mnie także potwierdzone
      szkoleniami i certyfikatami różnorodne metody: New Code
      NLP, The Nasa Game in Action, Matryca Energetyczna,
      Dwupunkt, ESP System (Extra Sensory Perception),
      Neurografika, Points of You, Human Management -
      Przywództwo Personalne.</p>
    </div>
  </div>
</section>
  
<!-- jak pracuje section-->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>JAK PRACUJĘ</h2>
      <hr />
    </div>
    <div>
      <p>Terapia metodami NLP (Neurolingwistycznego Programowania)
        zorientowana jest na cel przy szczególnym uwzględnieniu
        komunikacji niewerbalnej pacjenta, metafor oraz wzorców
        jakimi operuje. W pracy taką samą uwagę przywiązuję do
        werbalnych jak i niewerbalnych informacji, które są bardzo
        istotnymi sygnałami dotyczącymi symptomów i dynamiki
        przeżywania problemu przez pacjenta. Celem podstawowym
        jest wsparcie rozwoju pacjenta w sposób umożliwiający spójne
        i trwałe osiąganie celów z uwzględnieniem pozytywnych
        efektów zmiany.
      <br>
      <br>
      Hipnoterapia to metoda dzięki której można pracować z takimi
zaburzeniami jak: nerwica, depresja, fobie, lęk/strach,
bezsenność, alkoholizm, niskie poczucie własnej wartości,
zespół stresu pourazowego i inne. Dzięki odmiennym stanom
świadomości pacjent dociera do swojej podświadomości i
dokonuje przy pomocy hipnoterapeuty zmiany zapisu w niej
negatywnych emocji, obrazów, stanów czy reakcji. Odbywa się
to za pośrednictwem pozytywnych sugestii hipnotycznych i
posthipnotycznych. Hipnoza to niejako „wgląd” we
wspomnienia lub emocje oraz ich transformacja w transie.
Hipnoterapia pomaga „uleczyć” to co zapisane zostało w naszej
podświadomości, a w codziennym życiu nie przynosi nam korzyści i ogranicza nasz rozwój.
      <br>
      <br>
      Technikami NLP i hipnozy konwersacyjnej pracuję również na
potrzeby skutecznego budowania umiejętności zarządzania
coachingowego, asertywności, motywacji, profesjonalnego
feedbacku, work life balance, efektywnej komunikacji,
perswazji i wywierania wpływu, sztuki wystąpień publicznych,
planowania i pracy z celem, odporności psychicznej,
zarządzania emocjami i mindfunlness.
Praca Coachingowa to praca nad celem, zmianą, rozwojem i
określeniem własnej drogi. Proces coachingowy zakłada, że
klient jest ekspertem od swojego życia i wszelkie odpowiedzi są
w nim, co pozwala odzyskać wiarę i moc człowieka we własne
zdanie i poczuć sprawczość w działaniu.
Podczas naszych sesji klient rozwija samoświadomość,
przygląda się swoim potrzebom i oczekiwaniom, koncentruje
się na tym co czuje i co myśli. Poszukuje własnych blokad oraz
identyfikuje wyzwania oraz obszary wymagające wsparcia. Po
co zatem Coach? – ja zadaje pytania, które poszerzają
perspektywę patrzenia na problem, na siebie, co powoduje, iż
to klient tworzy mapę rozwiązań.</p>
    </div>
  </div>
</section>
  
<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
    <div class="offer-icons">
      <div class="cards-no-icon">
        <div class="card-info card-no-icon">
          <h2>Coaching</h2>
        </div>
        <div class="card-info card-no-icon">
          <h2>Hipnoterapia</h2>
        </div>
        <div class="card-info card-no-icon">
          <h2>Sesje NLP</h2>
        </div>
        <div class="card-info card-no-icon">
          <h2>Sesje z wykorzystaniem technik mieszanych</h2>
        </div>  
      </div>
    </div>
  </div>
</section>
  
<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Coaching</td>
        <td>300 zł / 90 min - 120 min </td>
      </tr>
      <tr>
        <td>Hipnoterapia</td>
        <td>300 zł / 60 min – 90 min </td>
      </tr>
      <tr>
        <td>Sesje NLP</td>
        <td>350 zł / 90 min – 120 min </td>
      </tr>
      <tr>
        <td>Sesje z wykorzystaniem technik mieszanych</td>
        <td>350 zł / 90 min – 120 min </td>
      </tr>
    </table>
  </div>
</section>
  
<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48668237320">Małgorzata Radziwołek<br>+48668237320</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:strefahplus@gmail.com">strefahplus@gmail.com</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>