<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Marta Młodzianowska</h1>
    <p>Psychoterapeutka - Psycholożka</p>
  </div>
</section>

<section class="container">
  <div class="people-about">
    <div class="people-about__img">
      <img src="/assets/Marta_Mlodzianowska.jpg" alt="Marta Młodzianowska - psychoterapeuta, psycholog">
    </div>
    <div class="people-about__text">
      <p>
      Jestem psychologiem, a także certyfikowanym psychoterapeutą poznawczo-behawioralnym.
      Swoje doświadczenie nabyłam w wieloletniej pracy z dorosłymi i młodzieżą pomagając oraz
      towarzysząc ludziom w przechodzeniu przez kryzysy oraz traumy. W swojej pracy korzystam z metod
      klasycznej terapii Poznawczo-Behawioralnej (CBT) oraz modeli terapeutycznych wywodzących się z
      tego nurtu: Terapii Akceptacji i Zaangażowania (ACT) i Terapii Dialektyczno-Behawioralnej (DBT).
      Model pracy dobieram indywidualnie w zależności od potrzeb i trudności zgłaszanych przez osobę
      uczestniczącą w psychoterapii.
      </p>
    </div>
  </div>
</section>

<!-- jak pracuje section-->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>JAK PRACUJĘ</h2>
      <hr />
    </div>
    <div>
      <p>
      Terapia pomoże Ci lepiej zrozumieć własne emocje i potrzeby, komunikować je innym, bez
      odczuwanego poczucia winy. Wprowadzam także treningi asertywności, które ułatwiają codzienne
      funkcjonowanie, wyznaczanie własnych granic, zasad. Psychoterapia to proces, przed jej
      rozpoczęciem możliwe jest pojawienie się niepewności i lęku. To naturalne, boimy się tego
      czego nie znamy, odczuwamy dyskomfort wychodząc ze strefy komfortu. Terapia to
      inwestycja w swój rozwój, to zatrzymanie się i poświęcenie czasu dla siebie w tym
      zabieganym świecie.</p>
      <p>Zapraszam Cię do fascynującej przygody w bezpiecznych warunkach, w poznaniu
      swoich emocji, zachowań, zmianie trudnych nawyków, zdystansowani się od myśli
      powodujących cierpienie. Będę miała przyjemność w towarzyszeniu Tobie podczas twojej
      drogi w kierunku wspólnie ustalonych ważnych dla Ciebie -celów terapeutycznych.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
    <div class="offer-icons">
      <div class="cards">
        <%= link_to oferta_konsultacja_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-konsultacja.jpg" alt="Konsultacja Psychologiczna">
            <div class="card-info fade-in">
              <h2>Konsultacja<br>Psychologiczna</h2>
            </div>
          </div>
        <% end %>
        <%= link_to oferta_terapia_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-terapia.jpg" alt="Psychoterapia Indywidualna">
            <div class="card-info fade-in">
              <h2>Psychoterapia <br>Indywidualna</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja psychologiczna</td>
        <td>150 zł / 50min </td>
      </tr>
      <tr>
        <td>Psychoterapia indywidualna </td>
        <td>150 zł / 50 min. </td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48791273341">Marta Młodzianowska<br>+48791273341</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:kamila.czarnuch@o2.pl">gabinet@psycho-terapeutyczny.pl</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

