<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Patrycja Barabasz</h1>
    <p>Diagnoza i Terapia dzieci</p>
  </div>
</section>

<section class="container">
  <div class="people-about" id="grzegorz">
    <div class="people-about__img">
      <img src="/assets/Patrycja_Barabasz2.jpg" alt="Patrycja Barabasz - pedagog, terapeuta
        zajęciowy, terapeuta do spraw uzależnień, trener umiejętności
        społecznych i życiowych ">
    </div>
    <div class="people-about__text">
      <p>
        Nazywam się Patrycja Barabasz, jestem <strong>terapeutą zajęciowym, terapeutą do spraw uzależnień, oligofrenopedagogiem, trenerem umiejętności społecznych i życiowych</strong>. Również magistrantem Terapii pedagogicznej dla dzieci i młodzieży ze Specjalnymi Potrzebami Edukacyjnymi oraz słuchaczem Psychologii dzieci i młodzieży w wspieraniu rozwoju.
      </p>
      <p>
        Jestem wychowawcą wypoczynków z przygotowaniem terapeutycznym do pracy z dziećmi i młodzieżą ze Specjalnymi Potrzebami Edukacyjnymi. Przede wszystkim jestem żoną i mamą dwójki cudownych dzieci, dzięki którym wybrałam swoją drogę zawodową i wiem, że to był najlepszy wybór w moim życiu.
        Od 10 lat jestem związana szczególnie z dziećmi ze spektrum autyzmu, ponieważ moje dzieci otrzymały diagnozy ASD.
      </p>
    </div>
  </div>
</section>

<section class="container">
  <div class="grey-box">
    <p>Życie osobiste i zawodowe nauczyło mnie również pracy z innymi przypadłościami wśród dzieci i młodzieży. Zarówno z niepełnosprawnością intelektualną, jak i z dziećmi wybitnie uzdolnionymi. Dziećmi uzależnionymi, z zagrożeniem o niedostosowaniu społecznym oraz po wielu różnych przeżyciach.</p>
    <p>Wciąż podnoszę swoje kwalifikacje, uczestnicząc w warsztatach, szkoleniach, webinariach i kursach. To jest to, co kocham robić najbardziej. Moja praca i szkoły w których wciąż się kształcę to moja pasja, dlatego jestem przekonana, że robię to co kocham i daje z siebie 100%. Sama przeszłam wiele na własnej skórze, dlatego swoim doświadczeniem dzielę się z rodzinami.</p>
  </div>
</section>


<section>
  <div class="container">
    <div class="section-titles">
      <h2>Moja Oferta</h2>
      <hr />
    </div>

    <div class="patrycja-oferta people-about">

        <!-- <ul>
          <li><i class="fas fa-angle-right"></i>Ocena rozwoju psychoruchowego (KORP)</li>
          <li><i class="fas fa-angle-right"></i>Ocena zachowania i emocji dziecka (KOZE)</li>
          <li><i class="fas fa-angle-right"></i>Trening umiejętności społecznych (TUS)</li>
          <li><i class="fas fa-angle-right"></i>Terapia pedagogiczna</li>
          <li><i class="fas fa-angle-right"></i>Terapia zajęciowa</li>
        </ul> -->
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Ocena rozwoju psychoruchowego (KORP)
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Test Karty Oceny Rozwoju Psychoruchowego (KORP) jest narzędziem przeznaczonym do wstępnej oceny rozwoju dziecka. Pozwalają na ustalenie czy diagnozowane dziecko rozwija się harmonijnie oraz zgodnie z oczekiwaniami rozwojowymi określonymi w ramach każdego przedziału wiekowego. Służący do oceny rozwoju psychoruchowego dziecka w wieku od 1 miesiąca życia do ukończenia 9 roku życia.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Ocena zachowania i emocji dziecka (KOZE)
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Karty oceny zachowania i emocji są narzędziem pozwalającym na wykrycie niepokojących objawów w zachowaniu i reakcjach emocjonalnych dziecka oraz sklasyfikowanie ich w określonych obszarach. Dokonywana przy pomocy Kart skategoryzowana obserwacja oraz opis zachowania i emocji pozwala na wyodrębnienie zachowań, które są ilościowo i/lub jakościowo nieprawidłowe na poszczególnych etapach rozwoju dziecka, z uwzględnieniem różnych obszarów zachowań. Jest to narzędzie oceny od wieku niemowlęcego do końca okresu szkolnego – od 1. miesiąca do końca 15. roku życia.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Terapia dzieci i młodzieży
              </button>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
               Trening umiejętności społecznych (TUS)
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              Są to spotkania grupowe, podczas których dzieci bawiąc się i rozwiązując zadania, rozwijają umiejętności przydatne w funkcjonowaniu społecznym. Dzieci uczą się między innymi nazywać emocje, radzić sobie z odmową oraz działać zespołowo. Zajęcia są prowadzone przez terapeutę, który modeluje zachowania uczestników, tak by były zgodne z normami społecznymi.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
               Terapia pedagogiczna
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
              Terapia pedagogiczna to szereg specjalistycznych oddziaływań na dziecko, które przejawia różnego rodzaju nieprawidłowości w rozwoju psychomotorycznym i społecznym w obrębie motywacji, emocji, nabywania i przyswajania wiedzy, integracji i współżycia socjalnego. Metody terapii pedagogicznej o charakterze psychologiczno-pedagogicznym, profilaktycznym i medycznym mają na celu stworzenie dziecku możliwości wszechstronnego rozwoju, wygaszania negatywnych objawów zachowania, kształtowania prawidłowych nawyków i technik przyswajania wiedzy oraz zdolności praktycznego posługiwania się nabytymi umiejętnościami w życiu pozaszkolnym.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFive">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Terapia zajęciowa
              </button>
            </h2>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
              Terapia zajęciowa to rodzaj fizycznej rehabilitacji pacjenta, polegającej na angażowaniu go w różne aktywności z dziedziny zajęć psychoruchowych. Oznacza to, że podczas zajęć podejmowane są ćwiczenia, które działają zarówno na sprawność fizyczną pacjenta, jak i jego samopoczucie, rozrywkę i rozwój intelektualny.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Terapia ręki
              </button>
            </h2>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Terapia uzależnień
              </button>
            </h2>
          </div>
      </div>
      <div class="people-about__img">
        <img src="/assets/kids.jpg" alt="Dziecko">
      </div>
    </div>
  </div>
</section>

<!-- doświadczenie section-->
<section class="patrycja-experience">
  <div class="container">
    <div class="section-titles">
      <h2>moje doświadczenie</h2>
      <hr />
    </div>
    <div>
      <p>Zgłasza się do mnie coraz więcej rodziców zaniepokojonych rozwojem swoich dzieci lub takich, których dzieci już mają diagnozy. Są oni zdezorientowani i szukają pomocy na przyszłość dla siebie ale i dla swojej pociechy.
      <br>
      <br>
      Moje doświadczenie życiowe nie było cechą wrodzoną, tylko nabywaną przez całe życie. Zdobyłam je wychowując dzieci ze spektrum autyzmu, przechodząc trudności i choroby, które niesie ze sobą życie. To wszystko spowodowało, że uczyłam się na błędach i dzięki temu zdobyłam doświadczenie życiowe.
      W związku z tym postanowiłam doświadczenie życiowe zjednoczyć z doświadczeniem zawodowym.
      <br>
      <br>
      Wciąż się uczę i chcę to nadal robić, a to dopiero początki mojej drogi, przez którą chcę z Wami wspólnie przejść.
      </p>
    </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Terapia dziecka</td>
        <td>od 120 zł / 50 min. </td>
      </tr>
      <tr>
        <td>TUS trening umiejętności społecznych (forma grupowa)</td>
        <td>od 80 zł / 60 min. </td>
      </tr>
      <tr>
        <td>Ocena rozwoju psychoruchowego dziecka KORP</td>
        <td>od 300 zł / 2h + omówienie wyników z rodzicem.</td>
      </tr>
      <tr>
        <td>Ocena zachowania i emocji dziecka KOZE</td>
        <td>od 200 zł / 1-2h + omówienie wyników z rodzicem. </td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48725491685">Patrycja Barabasz<br>+48725491685</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:nadzwyczajni1@gmail.com">nadzwyczajni1@gmail.com</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
