<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Patrycja Barabasz</h1>
    <p>Terapeutka zajęciowa</p>
  </div>
</section>

<section class="container">
  <div class="people-about" id="grzegorz">
    <div class="people-about__img">
      <img src="/assets/Patrycja.jpg" alt="Patrycja Barabasz">
    </div>
    <div class="people-about__text">
      <p>Nazywam się Patrycja Barabasz, jestem <strong>pedagogiem, terapeutą
        zajęciowym, terapeutą do spraw uzależnień, trenerem umiejętności
        społecznych i życiowych.</strong>  Również magistrantem Terapii pedagogicznej dla
        dzieci i młodzieży ze Specjalnymi Potrzebami Edukacyjnymi oraz
        Edukacji i rehabilitacji osób z niepełnosprawnością intelektualną w tym z
        autyzmem oraz Zespołem Aspergera.</p>
      <p>Jestem wychowawcą wypoczynków z przygotowaniem terapeutycznym
        do pracy z dziećmi i młodzieżą ze Specjalnymi Potrzebami Edukacyjnymi.
        Przede wszystkim jestem żoną i mamą dwójki cudownych dzieci, dzięki
        którym wybrałam swoją drogę zawodową i wiem, że to był najlepszy wybór w
        moim życiu.</p>
      <p>Od 10 lat jestem związana szczególnie z dziećmi ze spektrum autyzmu,
        ponieważ moje dzieci otrzymały diagnozy ASD.</p>
    </div>
  </div>
</section>

<section class="container">
  <div class="grey-box">
    <p>Życie osobiste i zawodowe nauczyło mnie również pracy z innymi
    przypadłościami wśród dzieci i dorosłych. Zarówno z niepełnosprawnością
    intelektualną, jak i z dziećmi wybitnie uzdolnionymi. Na swojej drodze życiowej
    poznałam wiele rodzin wśród których dziecko posiada niepełnosprawności
    intelektualne, ruchowe, neurologiczne, słuchu i mowy, choroby układu
    krążenia, oddechowe, metaboliczne, genetyczne.</p>
    <p>Wciąż podnoszę swoje kwalifikacje,  uczestnicząc w warsztatach, szkoleniach, webinariach i kursach. To jest to, co kocham robić najbardziej. Moja praca i szkoły w których wciąż się kształcę to moja pasja, dlatego jestem przekonana, że robię to co kocham i daje z siebie 100%. Sama przeszłam to na własnej skórze, dlatego swoim doświadczeniem dzielę się z wieloma rodzinami.</p>
  </div>
</section>


<section>
  <div class="container">
    <div class="section-titles">
      <h2>Moja Oferta</h2>
      <hr />
    </div>
    <div class="patrycja-oferta people-about">
      <div class="people-about__text">
        <ul>
          <li><i class="fas fa-angle-right"></i>Ocena rozwoju psychoruchowego (KORP)</li>
          <li><i class="fas fa-angle-right"></i>Ocena zachowania i emocji dziecka (KOZE)</li>
          <li><i class="fas fa-angle-right"></i>Trening umiejętności społecznych (TUS)</li>
          <li><i class="fas fa-angle-right"></i>Terapia pedagogiczna</li>
          <li><i class="fas fa-angle-right"></i>Terapia zajęciowa</li>
        </ul>
      </div>
      <div class="people-about__img">
      <img src="/assets/kids.png" alt="Dziecko">
    </div>
    </div>
  </div>
</section>

<!-- doświadczenie section-->
<section class="patrycja-experience">
  <div class="container">
    <div class="section-titles">
      <h2>moje doświadczenie</h2>
      <hr />
    </div>
    <div>
      <p>Zgłasza się do mnie coraz więcej rodziców zaniepokojonych rozwojem swoich dzieci lub takich, których dzieci już mają diagnozy. Są oni zdezorientowani i szukają pomocy na przyszłość dla siebie ale i dla swojej pociechy.
      <br>
      <br>
      Moje doświadczenie życiowe nie było cechą wrodzoną, tylko nabywaną przez całe życie. Zdobyłam je wychowując dzieci ze spektrum autyzmu, przechodząc trudności i choroby, które niesie ze sobą życie. To wszystko spowodowało, że uczyłam się na błędach i dzięki temu zdobyłam doświadczenie życiowe.
      W związku z tym postanowiłam doświadczenie życiowe zjednoczyć z doświadczeniem zawodowym.
      <br>
      <br>
      Wciąż się uczę i chcę to nadal robić, a to dopiero początki mojej drogi, przez którą chcę z Wami wspólnie przejść.
      </p>
    </div>
  <div>
    <p><strong>Odbyte szkolenia, kursy, warsztaty, webinaria:</strong></p>
    <ul>
      <li>Dziecko z dyslalią wieloraką</li>
      <li>Komunikacja z dzieckiem w szkole, przedszkolu i domu</li>
      <li>Motywująca pochwała, konstruktywna krytyka</li>
      <li>Nastolatek ze spektrum autyzmu-rosnące potrzeby społeczne, emocjonalne i wyzwania okresu dojrzewania</li>
      <li>Ocena Rozwoju Psychoruchowego (KORP)</li>
      <li>Ocena Zachowania i Emocji (KOZE)</li>
      <li>Plastyka sensoryczna jako nowoczesna metoda pracy z dzieckiem</li>
      <li>Pozytywna Dyscyplina dla nauczycieli</li>
      <li>Praca z dzieckiem nieśmiałym</li>
      <li>Pierwsza pomoc przedmedyczna</li>
      <li>Trening umiejętności społecznych (TUS) </li>
      <li>TUS – terapia czy wspólna przygoda?</li>
      <li>TUS a zachowania trudne</li>
      <li>Wczesna diagnoza autyzmu</li>
      <li>Wpływ pandemii na zdrowie psychiczne dzieci i młodzieży</li>
      <li>Wspieranie rozwoju społecznego w czasach pandemii</li>
      <li>Współpraca rodzic - terapeuta</li>
      <li>Zabawa Inspirująca Rozwój</li>
    </ul>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Terapia dziecka</td>
        <td>120 zł / 50 min. </td>
      </tr>
      <tr>
        <td>TUS trening umiejętności społecznych (forma indywidualna)</td>
        <td>120 zł / 50 min. </td>
      </tr>
      <tr>
        <td>TUS trening umiejętności społecznych (forma grupowa)</td>
        <td>80 zł / 60 min. </td>
      </tr>
      <tr>
        <td>Ocena rozwoju psychoruchowego dziecka KORP</td>
        <td>300 zł / 2h + omówienie wyników z rodzicem.</td>
      </tr>
      <tr>
        <td>Ocena zachowania i emocji dziecka KOZE</td>
        <td>200 zł / 1-2h + omówienie wyników z rodzicem. </td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div>
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48725491685">+48725491685</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:gabinet@psycho-terapeutyczny.pl">gabinet@psycho-terapeutyczny.pl</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div>
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
      </div>
    </div>
  </div>
</section>
