<section class="banner-pages">
  <div class="banner-pages-title">
     <h2>Pomoc w sytuacji kryzysu</h2>
  </div>
</section>

<section>
  <div class="container">
    <div class="split">
      <div class="split-left">
        <h4 class="text-center">Ta forma pomocy psychologicznej jest skierowana do osób, które przeżyły:</h4>
        <ul>
          <li>śmierć bliskiej osoby;</li>
          <li>chorobę własnej lub choroby bliskiej osoby;</li>
          <li>wypadek;</li>
          <li>rozpad związku;</li>
          <li>utratę pracy;</li>
          <li>bardzo silny stres.</li>
        </ul>
      </div>
      <div class="split-right text-center">
        <div class="contact-block">
          <h4>Umów się na wizytę:</h4>
          <div class="contact-block__list">
            <a href="tel://+48663061717"><i class="fas fa-phone-alt"></i>+48663061717</a>
            <br>
            <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
            <br>
            <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdz nas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
