<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Robert Krzyżanowski</h1>
    <p>Psycholog - Seksuolog</p>
  </div>
</section>

<section class="container">
  <div class="people-about" id="robert">
    <div class="people-about__img">
      <img src="/assets/Robert_Krzyzanowski.jpg" alt="Robert Krzyżanowski - psycholog, seksuolog">
    </div>
    <div class=people-about__text>
      <p>Jestem psychologiem, dyplomowanym seksuologiem.
      Ukończyłem studia magisterskie z psychologii w Szkole
      Wyższej Psychologii Społecznej Uniwersytetu
      Humanistycznospołecznego w Sopocie (SWPS), specjalizacja
      psychoseksuologia oraz studia podyplomowe z seksuologii na
      CH w Warszawie. Doświadczenie psychologiczne zdobywałem
      w Środkowopomorskim Centrum Zdrowia Psychicznego
      MEDISON w Koszalinie, oraz poprzez pracę własną z
      pacjentami indywidualnymi. Stale się szkolę oraz rozwijam, by
      móc zapewnić jak najlepszą jakość usług.
      </p>
    </div>
  </div>
</section>

<!-- <section class="container">
  <div class="grey-box">
    <p><em>W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji. Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem. Odnajduję prawdziwą radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań. Psychologia jest moją pasją a, praca z ludźmi moim powołaniem.</em></p>
  </div>
</section> -->

<!-- jak pracuje section-->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>JAK PRACUJĘ</h2>
      <hr />
    </div>
    <div>
      <p>Jako psycholog pomagam zrozumieć emocje i mechanizmy
      stojące za problemem, z którym w danym momencie mierzy się
      pacjent. Pomagam ukształtować strategie radzenia sobie z
      napotkaną sytuacją. Swój styl pracy opieram na elementach
      terapii krótkoterminowej skupionej na rozwiązaniach (TSR). W
      pracy seksuologicznej, zajmuję się wsparciem osób LGBTQ+,
      procesem korekty płci, zaburzeniami seksualnymi (takimi jak
      zaburzenia erekcji, przedwczesny wytrysk, brak libido),
      kryzysami w związku, uzależnieniem od pornografii oraz
      parafiliami.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>Ukończone kursy</h2>
      <hr />
    </div>
    <div>
      <ul>
        <li>Jak pracować z osobami transpłciowymi i niebinarnymi –
            dysforia płciowa, niezgodność płciowa i proces korekty płci</li>
        <li>Jak prawidłowo diagnozować i wspierać pacjenta w tranzycji w dysforii płciowej</li>
        <li>Praca z pacjentem z psychogennymi zaburzeniami erekcji.
        Szkolenie prowadzone przez prof. Zbigniew Lew-
        Starowicz</li>
        <li>Jak pracować z pacjentami z problemem niepłodności</li>
        <li>Praca z pacjentem, który doświadczył wykorzystania
          seksualnego</li>
        <li>Praca z parą w gabinecie psychologicznym</li>
        <li>Dylematy w terapii par i rodzin</li>
        <li>Praca z pacjentem z zaburzeniami preferencji seksualnymi.
        Szkolenie prowadzone przez prof. Zbigniew Lew- Starowicz</li>
        <li>Jak rozmawiać z pacjentem o jego seksualności</li>
        <li>Praca z pacjentem z hiperseksualnością</li>
        <li>Praca z osobą LGBT+</li>
        <li>Interwencja kryzysowa wobec pacjenta, który chcę odebrać sobie życie</li>
        <li>Depresja i praca nad jej objawami na różnych etapach
        nasilenia</li>
        <li>Praca z pacjentem z zaburzeniami dysocjacyjnymi po traumie</li>
        <li>Praca z pacjentem żyjącym w ciągłym lęku i zamartwianiu się</li>
        <li>Praca z pacjentem z wysokim poziomem narcyzmu wrażliwego</li>
        <li>Terapia krótkoterminowa skupiona na rozwiązaniach (TSR)</li>
        <li>Praca z pacjentem z zaburzeniami snu</li>
        <li>Praca z dorosłym pacjentem z ADHD</li>
        <li>Praca z dorosłym pacjentem z zespołem Aspergera</li>
        <li>Praca z pacjentem zgłaszającym myśli samobójcze</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
    <div class="offer-icons">
      <div class="cards">
        <%= link_to oferta_konsultacja_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-konsultacja.jpg" alt="Konsultacja Psychologiczna">
            <div class="card-info fade-in">
              <h2>Konsultacja<br>Psychologiczna</h2>
            </div>
          </div>
        <% end %>

        <div class="card shadow-cards">
          <img src="/assets/icon-gender.png" alt="Terapia seksuologiczna">
          <div class="card-info fade-in">
            <h2>Terapia<br>seksuologiczna</h2>
          </div>
        </div>

        <%= link_to oferta_terapia_par_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-pary.png" alt="Terapia Par">
            <div class="card-info fade-in">
              <h2>Terapia par</h2>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja psychologiczna</td>
        <td>150 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia seksuologiczna </td>
        <td>170 zł / 50 min. </td>
      </tr>
      <tr>
        <td>Terapia Par </td>
        <td>200 zł / 60 min. </td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48790246767">Robert Krzyżanowski<br>+48790246767</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:krzyzanowskipsycholog@gmail.com">krzyzanowskipsycholog@gmail.com</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
