<div class="banner-pages">
  <div class="banner-pages-title">
    <h1>OFFERTA</h1>
  </div>
</div>
<div class="container">
  <div>

  </div>
  <div class="section-psychoterapia">
    <h3>Psychoterapia indywidualna</h3>
    <p>Stres i problemy o różnym charakterze stanowią nieodłączną część życia wielu z nas.
    Ich oddziaływanie jest jednak bardzo duże. W niektórych przypadkach stanowią one tak
    duże obciążenie, że niezbędna jest pomoc. W takich sytuacjach można skorzystać z psychoterapii
    indywidualnej. Rozmowa z drugim człowiekiem pozwala zapewnić wsparcie w trudnych chwilach, a dzięki temu,
    że jest on specjalistą, jest w stanie zaproponować odpowiednie rozwiązanie problemów. Właśnie dlatego osoby,
    które czują, że potrzebują wsparcia w trudnej sytuacji, mogą skorzystać z psychoterapii indywidualnej.
    Jest ona prowadzona moim gabinecie mieszczącym się w Koszalinie.</p>
    <h3>Jaką formę ma tego typu pomoc?</h3>
    <p>Psychoterapia indywidualna polega na rozmowie między pacjentem a terapeutą. Jednym z najistotniejszych
    elementów komunikacji ze specjalistą jest szczerość. Tylko wtedy będzie on w stanie dokładnie poznać
    problemy pacjenta oraz zasugerować ich rozwiązanie. Przeprowadzane są także różnorodne ćwiczenia umysłowe,
    dobrane do konkretnego problemu oraz metod pracy.</p>
    <h3>Przez jaki czas prowadzone są spotkania?</h3>
    <p>Wszystko zależy od konkretnego pacjenta oraz problemów, z którymi się zmaga. W przypadku niektórych
    problemów, ich omówienie zajmie kilka bądź kilkanaście spotkań, przy innych, bardziej kompleksowych zagadnieniach,
    konieczne mogą być spotkania przez dłuższy czas.</p>
  </div>

  <div class="section-konsultacja">
    <h3>Konsultacja psychologiczna</h3>
    <p>Dzięki konsultacji psychologicznej możliwe jest wstępne rozpoznanie sytuacji życiowej pacjenta oraz określenie
    jego problemów. Z tego względu stanowi ona stanowią wstęp do dalszego postępowania oraz terapii.</p>
    <h3>Kto może skorzystać z konsultacji psychologicznych?</h3>
    <p>Najprościej ujmując każdy, kto uważa, że jej potrzebuje. Rozmowa ze specjalistą pozwala na omówienie wszelkich
    problemów emocjonalnych, rodzinnych i życiowych. Może stanowić pierwszy krok na drodze do rozpoznania problemów
    oraz ich rozwiązania. Jest to jednorazowa usługa, która ma na celu poradę w zmaganiu się z problemami, jednak
    ełne rozpoznanie może wymagać od trzech do pięciu spotkań i ma na celu postanowienie diagnozy. Dzięki której pacjent
    może zostać poddany leczeniu.</p>
    <h3>Jakie są przykładowe wskazania do skorzystania z konsultacji psychologiczne</h3>
    <p>Do najczęstszych przyczyn należą problemy z kontrolowaniem emocji, utrzymujący się zły nastrój, stresy, zaburzenia lękowe,
    problemy ze snem, trudności związane z relacjami interpersonalnymi, wypalenie zawodowe, kłopoty rodzinne lub zaburzenia emocjonalne.
    Powodem do skorzystania z pomocy specjalisty mogą być wszystkie problemy, które sprawiają, że pacjent odczuwa potrzebę wsparcia.
    W tym celu można zapisać się wizytę w moim gabinecie, mieszczącym się w Koszalinie.</p>
  </div>
</div>








