<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>Tadeusz Kurpisz</h1>
    <p>Psychoterapeuta - Specjalista psychoterapii uzależnień</p>
  </div>
</section>

<section class="container">
  <div class="people-about">
    <div class="people-about__img">
      <img src="/assets/Tadeusz_Kurpisz.jpg" alt="Tadeusz Kurpisz - Psychoterapeuta - Specjalista psychoterapii uzależnień">
    </div>
    <div class="people-about__text">
      <p>
        Ukończyłem wyższe studia magisterskie na kierunku pedagogika resocjalizacyjna.
Jestem certyfikowanym specjalistą psychoterapii uzależnień. Egzamin certyfikacyjny został
przeprowadzony przez Krajowe Biuro ds. Przeciwdziałania Narkomanii przy akredytacji
Ministerstwa Zdrowia. Posiadam wieloletnie doświadczenie w pracy z osobami
uzależnionymi.
      </p>
    </div>
  </div>
</section>

<!-- jak pracuje section-->
<section>
  <div class="container">
    <div class="section-titles">
      <h2>JAK PRACUJĘ</h2>
      <hr />
    </div>
    <div>
      <p>
        Ze względu na rozległość i złożoność problemów osoby uzależnionej proponowany
przeze mnie system udzielania pomocy obejmuje wiele elementów. Związane jest to z
dążeniem do zwiększenia zdolności do trwałego utrzymywania abstynencji, zwiększeniem
zdolności do rozwiązywania problemów osobistych oraz rozwijaniem zdolności do
prowadzenia zdrowego i konstruktywnego sposobu życia. W relacji terapeutycznej łączę
różne nurty psychoterapeutyczne. W pracy klinicznej nie trzymam się ściśle jednej
konkretnej orientacji teoretycznej. Czasami łączę różne podejścia w celu optymalnego ich
wykorzystania dla dobra pacjenta.
Pomagam osobom uzależnionym od narkotyków oraz alkoholu. Zajmuję się również
uzależnieniami behawioralnymi – hazard, siecioholizm itp.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>W czym mogę pomóc?</h2>
      <hr />
    </div>
    <div class="offer-icons">
      <div class="cards">
      <%= link_to oferta_konsultacja_path do %>
        <div class="card shadow-cards">
          <img src="/assets/icon-konsultacja.jpg" alt="Konsultacja Psychologiczna">
          <div class="card-info fade-in">
            <h2>Konsultacja<br>Psychologiczna</h2>
          </div>
        </div>
      <% end %>
        <%= link_to oferta_terapia_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-terapia.jpg" alt="Psychoterapia Indywidualna">
            <div class="card-info fade-in">
              <h2>Psychoterapia <br>Indywidualna</h2>
            </div>
          </div>
        <% end %>
        <%= link_to oferta_pomoc_kryzys_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-kryzys.jpg" alt="omoc w sytuacji kryzysowej">
            <div class="card-info fade-in">
              <h2>Pomoc w sytuacji<br>kryzysowej</h2>
            </div>
          </div>
        <% end %>
        <%= link_to oferta_terapia_par_path do %>
          <div class="card shadow-cards">
            <img src="/assets/icon-pary.png" alt="Terapia Par">
            <div class="card-info fade-in">
              <h2>Terapia par</h2>
            </div>
          </div>
        <% end %>
        <div class="card shadow-cards">
            <div class="card-info fade-in">
              <h2>Terapia systemowa</h2>
            </div>
            <div class="card-info fade-in">
              <h2>Terapia grupowa</h2>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="section-titles">
      <h2>CENNIK</h2>
      <hr />
    </div>
    <table id="cennik">
      <tr>
        <th>Usługa</th>
        <th>Cena</th>
      </tr>
      <tr>
        <td>Konsultacja psychologiczna </td>
        <td>150 zł / 50min </td>
      </tr>
      <tr>
        <td>Psychoterapia indywidualna </td>
        <td>150 zł / 50min </td>
      </tr>
      <tr>
        <td>Interwencja w sytuacji kryzysu</td>
        <td>150 zł / 50min </td>
      </tr>
      <tr>
        <td>Terapia Par </td>
        <td>250 zł / 60min </td>
      </tr>
      <tr>
        <td>Terapia Grupowa </td>
        <td>Proszę o kontakt </td>
      </tr>
      <tr>
        <td>Terapia systemowa </td>
        <td>Proszę o kontakt </td>
      </tr>
    </table>
  </div>
</section>

<section class="team-contact">
  <div class="container">
    <div class="section-titles">
      <h2>Umów wizytę</h2>
      <hr />
    </div>
    <div class="team-contact__grid">
      <div class="team-contact__grid-left">
        <div class="contact-way shadow-cards">
          <i class="fas fa-phone"></i>
          <p><a href="tel://+48506422727">Tadeusz Kurpisz<br>+48506422727</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-envelope"></i>
          <p><a href="mailto:tadeuszkurpisz@o2.pl">tadeuszkurpisz@o2.pl</a></p>
        </div>
        <div class="contact-way shadow-cards">
          <i class="far fa-map"></i>
          <p><strong>Adres:</strong></p>
          <p><a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8">Centrum Psychoterapii<br>Dębowa 29<br>75-900 Koszalin</a></p>
        </div>
      </div>
      <div class="team-contact__grid-right">
        <p>Zapraszamy na wizyty po wcześniejszej rejestracji telefonicznej bądź konsultacji mailowej.</p>
        <p>W razie nie odbierania telefonu, prosimy o wiadomość SMS, a oddzwonimy.</p>
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d583.697936139031!2d16.22568482930438!3d54.183763998760234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4701cd34b152c0f1%3A0xc65cc48d61b76476!2sCentrum%20Psychoterapii%20psycho-terapeutyczny.pl!5e0!3m2!1sen!2suk!4v1627473859742!5m2!1sen!2suk" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

