<section class="banner-pages">
  <div class="banner-pages-title">
     <h1>Psychoterapia indywidualna</h1>
  </div>
</section>

<section>
  <div class="oferta-subpages container">
    <div class="oferta-subpages_text text-center">
      <p>Stres i problemy o różnym charakterze stanowią nieodłączną część życia wielu z nas. Ich oddziaływanie jest jednak bardzo duże. W niektórych przypadkach stanowią one tak duże obciążenie,
    że niezbędna jest pomoc. W takich sytuacjach można skorzystać z psychoterapii indywidualnej. Rozmowa z drugim człowiekiem pozwala zapewnić wsparcie w trudnych chwilach, a dzięki temu, że jest
    on specjalistą, jest w stanie zaproponować odpowiednie rozwiązanie problemów. Właśnie dlatego osoby, które czują, że potrzebują wsparcia w trudnej sytuacji, mogą skorzystać z psychoterapii indywidualnej.</p>
      <h2 class="text-center">Ta forma pomocy skierowana jest do osób, które:</h2>
      <ul>
        <li>doświadczają problemów w relacjach z innymi ludźmi</li>
        <li>doświadczają smutku, lęku, wahań nastroju, konfliktów wewnętrznych</li>
        <li>nie radzą sobie ze złością i agresją</li>
        <li>mają niskie poczucie własnej wartości</li>
        <li>mają dolegliwości psychosomatyczne; np. bóle głowy, problemy ze snem, choroby układu krążenia</li>
        <li>doświadczają trudności w pracy</li>
        <li>stoją przed ważnymi i trudnymi wyborami życiowymi</li>
        <li>doświadczają problemów egzystencjalnych (myśli samobójcze, poczucie bezsensu, samotność)</li>
        <li>są niezadowolone z jakości swojego życia</li>
        <li>chcą się rozwijać – lepiej zrozumieć siebie i swoje zachowania</li>
      </ul>
    </div>
    <div class="oferta-subpages_photo">
      <img src="/assets/psychoterapia.jpg" alt="Psychoterapia indywidualna">
    </div>
  </div>
</section>

<section class="section-subpages">
  <div class="container">
    <div class=" oferta-subpages_text text-center">
      <h4>Jaką formę ma tego typu pomoc?</h4>
      <p>Psychoterapia indywidualna polega na rozmowie między pacjentem a terapeutą. Jednym z najistotniejszych elementów komunikacji ze specjalistą jest szczerość. Tylko wtedy będzie on w stanie dokładnie poznać
      problemy pacjenta oraz zasugerować ich rozwiązanie. Przeprowadzane są także różnorodne ćwiczenia umysłowe, dobrane do konkretnego problemu oraz metod pracy.</p>
      <br>
      <h4>Przez jaki czas prowadzone są spotkania?</h4>
      <p>Wszystko zależy od konkretnego pacjenta oraz problemów, z którymi się zmaga. W przypadku niektórych problemów, ich omówienie zajmie kilka bądź kilkanaście spotkań, przy innych, bardziej kompleksowych zagadnieniach, konieczne mogą być spotkania przez dłuższy czas.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="oferta-subpages">
      <div class="oferta-subpages__people">
        <div class="section-titles">
          <h3>terapeuci:</h3>
          <hr/>
        </div>
        <%= link_to zespol_grzegorz_szczeblewski_path do %>
          <h4><i class="fas fa-chevron-right"></i>Grzegorz Szczeblewski</h4>
        <%end%>
      </div>

      <div class="oferta-subpages__contact text-center">
        <%= render 'shared/kontakt-box' %>
      </div>
    </div>
  </div>
</section>







