<section class="banner-pages">
  <div class="banner-pages-title">
     <h2>Diagnoza i Terapia Dzieci</h2>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center oferta-item">
      <h4>Ocena rozwoju psychoruchowego (KORP)</h4>
      <p>Test Karty Oceny Rozwoju Psychoruchowego (KORP) jest narzędziem
        przeznaczonym do wstępnej oceny rozwoju dziecka. Pozwalają na ustalenie czy
        diagnozowane dziecko rozwija się harmonijnie oraz zgodnie z oczekiwaniami
        rozwojowymi określonymi w ramach każdego przedziału wiekowego. Służący
        do oceny rozwoju psychoruchowego dziecka w wieku od 1 miesiąca życia do
        ukończenia 9 roku życia.</p>
    </div>
    <div class="text-center oferta-item">
      <h4>Ocena zachowania i emocji dziecka (KOZE)</h4>
      <p>Karty oceny zachowania i emocji są narzędziem pozwalającym na wykrycie
        niepokojących objawów w zachowaniu i reakcjach emocjonalnych dziecka oraz
        sklasyfikowanie ich w określonych obszarach. Dokonywana przy pomocy Kart
        skategoryzowana obserwacja oraz opis zachowania i emocji pozwala na

        wyodrębnienie zachowań, które są ilościowo i/lub jakościowo nieprawidłowe
        na poszczególnych etapach rozwoju dziecka, z uwzględnieniem różnych
        obszarów zachowań. Jest to narzędzie oceny od wieku niemowlęcego do końca
        okresu szkolnego – od 1. miesiąca do końca 15. roku życia.</p>
    </div>
    <div class="text-center oferta-item">
      <h4>Trening umiejętności społecznych (TUS)</h4>
      <p>Są to spotkania grupowe, podczas których dzieci bawiąc się i rozwiązując
        zadania, rozwijają umiejętności przydatne w funkcjonowaniu społecznym.
        Dzieci uczą się między innymi nazywać emocje, radzić sobie z odmową oraz
        działać zespołowo. Zajęcia są prowadzone przez terapeutę, który modeluje
        zachowania uczestników, tak by były zgodne z normami społecznymi.</p>
    </div>
    <div class="text-center oferta-item">
      <h4>Terapia pedagogiczna</h4>
      <p>
        Terapia pedagogiczna to szereg specjalistycznych oddziaływań na dziecko, które
        przejawia różnego rodzaju nieprawidłowości w rozwoju psychomotorycznym i
        społecznym w obrębie motywacji, emocji, nabywania i przyswajania wiedzy,
        integracji i współżycia socjalnego.
        Metody terapii pedagogicznej o charakterze psychologiczno-pedagogicznym,
        profilaktycznym i medycznym mają na celu stworzenie dziecku możliwości
        wszechstronnego rozwoju, wygaszania negatywnych objawów zachowania,
        kształtowania prawidłowych nawyków i technik przyswajania wiedzy oraz
        zdolności praktycznego posługiwania się nabytymi umiejętnościami w życiu
        pozaszkolnym.
      </p>
    </div>
    <div class="text-center oferta-item">
      <h4>Terapia zajęciowa</h4>
      <p>
        Terapia zajęciowa to rodzaj fizycznej rehabilitacji pacjenta, polegającej na
        angażowaniu go w różne aktywności z dziedziny zajęć psychoruchowych.
        Oznacza to, że podczas zajęć podejmowane są ćwiczenia, które działają
        zarówno na sprawność fizyczną pacjenta, jak i jego samopoczucie, rozrywkę i
        rozwój intelektualny.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="gabinety__grid">
    <div>
      <img src="/assets/terapia_dzieci2.jpg" alt="">
    </div>
    <div>
      <img src="/assets/terapia_dzieci3.jpg" alt="">
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="split">
      <div class="split-left card shadow-cards">
        <%= link_to zespol_patrycja_barabasz_path do %>
        <h4 class="text-center">Patrycja Barabasz</h4>
        <div class="people-about__text">
          <p>Nazywam się Patrycja Barabasz, jestem <strong>pedagogiem, terapeutą
            zajęciowym, terapeutą do spraw uzależnień, trenerem umiejętności
            społecznych i życiowych.</strong>  Również magistrantem Terapii pedagogicznej dla
            dzieci i młodzieży ze Specjalnymi Potrzebami Edukacyjnymi oraz
            Edukacji i rehabilitacji osób z niepełnosprawnością intelektualną w tym z
            autyzmem oraz Zespołem Aspergera.</p>
          <p>Jestem wychowawcą wypoczynków z przygotowaniem terapeutycznym
            do pracy z dziećmi i młodzieżą ze Specjalnymi Potrzebami Edukacyjnymi.
            Przede wszystkim jestem żoną i mamą dwójki cudownych dzieci, dzięki
            którym wybrałam swoją drogę zawodową i wiem, że to był najlepszy wybór w
            moim życiu.</p>
          <p>Od 10 lat jestem związana szczególnie z dziećmi ze spektrum autyzmu,
            ponieważ moje dzieci otrzymały diagnozy ASD.</p>
          <br>
          <%= link_to "Przeczytaj więcej", zespol_patrycja_barabasz_path, class: "btn-cards" %>
        </div>
        <% end %>
      </div>
      <div class="split-right text-center">
        <div class="contact-block">
          <h4>Umów się na wizytę:</h4>
          <div class="contact-block__list">
            <a href="tel://+48725491685"><i class="fas fa-phone-alt"></i>+48725491685</a>
            <br>
            <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
            <br>
            <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdz nas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
