<section class="banner-pages">
  <div class="banner-pages-title">
     <h2>Pomoc w uzależnieniach</h2>
  </div>
</section>

<section>
  <div class="container">
    <div class="text-center">
      <p>Zapewniamy nowoczesne i kompleksowe leczenie osobom borykającym się z różnego rodzaju uzależnieniami, zarówno w zakresie substancji psychoaktywnych, jak i uzależnień behawioralnych. W leczeniu uzależnień niebywale istotne jest uwzględnienie indywidualnej historii danej osoby. Istnieje szereg czynników obciążających, które zwiększają ryzyko wystąpienia uzależnienia. Zalicza się do nich m.in. problemy rodzinne, nieporozumienia w bliskich relacjach, presję zawodową, kłopoty finansowe, wywodzenie się z rodziny, w której występuje wzorzec uzależnienia/współuzależnienia. Skuteczne przeciwdziałanie uzależnieniom polega nie tylko na utrzymywaniu abstynencji, ale dążeniu do poznania i wyeliminowania czynników, które powodują uzależnienia. Jest to możliwe w ramach pogłębionej psychoterapii.</p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="split">
      <div class="split-left">
        <h4 class="text-center">Terapeuci:</h4>

      </div>
      <div class="split-right text-center">
        <div class="contact-block">
          <h4>Umów się na wizytę:</h4>
          <div class="contact-block__list">
            <a href="tel://+48663061717"><i class="fas fa-phone-alt"></i>+48663061717</a>
            <br>
            <a href="mailto:gabinet@psycho-terapeutyczny.pl"><i class="far fa-envelope"></i>gabinet@psycho-terapeutyczny.pl</a>
            <br>
            <a href="https://goo.gl/maps/dHAgUrewkDeaVZkb8"><i class="fas fa-map-marker-alt"></i>Znajdz nas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

