<section class="banner-pages">
  <div class="banner-pages-title">
    <h1>O MNIE</h1>
  </div>
</section>

<section class="container">
  <div class="about-me-page">
    <div class="about-me-page_img">
      <img src="/assets/Greg_square.jpg" alt="Grzegorz Szczeblewski">
    </div>
    <div class="about-me-page_text-1">
      <h1>Grzegorz Szczeblewski</h1>
      <h4>Psycholog & Psychoterapeuta</h4>
      <p>Jestem absolwentem Szkoły Wyższej Psychologii Społecznej  Uniwersytetu Humanistycznospołecznego w Sopocie.
        Ukończyłem studia magisterskie na Wydziale Psychologii/specjalizacja kliniczna i zdrowia. Aktualnie jestem
        w trakcie szkolenia w Szkole Psychoterapii Psychodynamicznej  w Krakowskim Centrum Psychodynamicznym.</p>
      <p>Doświadczenie jako psycholog zdobywałem m.in. w Szpitalu dla Nerwowo i Psychicznie Chorych w Starogardzie Gdańskim,
        Wojewódzkim Szpitalu Psychiatrycznym w Gdańsku, Wojewódzkim Centrum Onkologii w Gdańsku oraz Centrum Psychoterapii
        i Leczenia Uzależnień ANON w Koszalinie.</p>
    </div>
    <div class="about-me-page_text-2">
      <p>Nieustannie rozwijam się i doskonalę swoje kompetencje uczestnicząc w kursach specjalistycznych. Moja praca poddawana
        jest stałej superwizji.W kontakcie z drugim człowiekiem ważne jest dla mnie nawiązanie szczerej i pełnej empatii relacji.
        Towarzyszę swoim klientom w kłopotach i kryzysach, które nie pozwalają im w pełni cieszyć się życiem. Odnajduję prawdziwą
        radość i satysfakcję pomagając w rozwoju oraz budowaniu nowych rozwiązań.</p>
      <p>Jestem członkiem Polskiego Towarzystwa Psychoterapii Psychodynamicznej.</p>
      <p>Psychologia jest moją pasją a, praca z ludźmi moim powołaniem.</p>
    </div>
  </div>
</section>
