// /* The hero image */
.banner-home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("office1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-home::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient( top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 80%,rgba(0,0,0,.5) 100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.5) 100%)
}

// .banner-home::after {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   content: '';
//   width: 100%;
//   height: 100%;
//   background: -webkit-linear-gradient( top,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 80%,rgba(0,0,0,.5) 100%);
//   background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.5) 80%,rgba(0,0,0,.5) 100%);
// }

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(129, 130, 130, 0.8);
  // background: rgba(46, 49, 49, 0.8);
  padding: 40px;


  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;
  }
}

.btn-scroll {
  a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }

  a:hover {
    opacity: .5;
  }

}


#section01 {
  a {
    padding-top: 60px;
  }

  a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb01 2s infinite;
    box-sizing: border-box;
  }

}

@-webkit-keyframes sdb01 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

@keyframes sdb01 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}


@media screen and (max-width: 1000px) {

  .banner-text {
    line-height: 1.6;
    top: 55%;

    h1 {
      font-size: 2rem;
      text-align: center;
    }

    h2 {
      font-size: 1.75rem;
      text-align: center;
      // padding-top: 40px;
    }
  }
}

@media screen and (max-width: 576px) {

  #section01 a {
    display: none;
  }

  .banner-text {

    h1 {
      font-size: 1.5rem;
      text-align: center;
    }

    h2 {
      font-size: 1.25rem;
      text-align: center;
      // padding-top: 40px;
    }
  }
}


