.btn-cards {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: bold;
  background: $primary-backround;
  transition: background 0.3s ease;
  border: 1px solid $primary-backround;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: $primary-backround;
    border: 1px solid $primary-backround;
    text-decoration: none;
    // opacity: 0.7;
  }
}

.btn-back {
  background: white;
  color: $primary-backround;
  border: 1px solid $primary-backround;
  transition: background 0.3s ease;
  text-decoration: none;
  padding: 8px 24px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background: $primary-backround;
    color: $white;
    text-decoration: none;
  }
}
