.btn-cards {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $primary-backround;
  transition: background 0.3s ease;
  border: 1px solid $primary-backround;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    background: #fff;
    color: $primary-backround;
    border: 1px solid $primary-backround;
    text-decoration: none;
    // opacity: 0.7;
  }
}


.back-btn {
  background: #white;
  color: $primary-backround;
  border: 1px solid $primary-backround;
  text-decoration: none;
  padding: 8px 24px;

  &:hover {
    background: $primary-backround;
    color: $white;
    text-decoration: none;
  }
}
