.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  padding: 10px;

  a {
    text-decoration: none;
    color: $text-headlines;
  }

  a:focus,
  a:hover {
    text-decoration: none;
    color: $text-headlines;
  }
}

.card {
  border-color: #fff;
  width: 300px;
  padding-bottom: 20px;
  transition: transform 1s ease;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 30px;
  }
}

.card-info {
  text-align: center;

  h2 {
    font-size: 1.25rem;
    padding-bottom: 30px;
    font-family: "Josefin Sans", "sans-serif";
    color: $gray-light;
    font-weight: 400;
  }
}

// Box Shadow on cards //
.shadow-cards {
  position: relative;
}

.shadow-cards::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;

  box-shadow: 0 0.5rem 3rem -0.25em rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease;
}

.shadow-cards:hover {
  box-shadow: 0 0.5rem 3rem -0.25em rgba(0, 0, 0, 0.3);
  // box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-0.35em) scale(1.02);
}

.shadow-cards:hover::after {
  opacity: 1;
}

.cards-no-icon {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: "Josefin Sans", "sans-serif";
  color: #373737;
  font-weight: 400;
}
.card-no-icon {
  border-color: #4e4190;
  border-radius: 5px;
}
