.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 40px;
}

.card {
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // border-radius: 5px;
  border-color: #fff;
}

// .card :hover {
//   transform: translate3D(0,-1px,0) scale(1.03);
//   transition: .5s ;
// }

.card-info {
  text-align: center;
}

.card-info h2 {
  font-size: 22px;
  padding-bottom: 10px;
}

.card-info p {
  font-size: 16px;
  padding-bottom: 10px;
  color: #545454;
}

.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 30px;
}

