.footer {

  bottom: 0;
  background: #424190;
  padding-top: 20px;
  margin-top: 50px;
  color: white;

  h2 {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.2;
    }

  p {
    margin-bottom: 8px;
  }

  a, a:hover {
    text-decoration: none;
    color: white;
    font-weight: 200;
    line-height: 1.6;
  }
}

.footer-column {
  align-items: start;
  justify-content: space-evenly;
}

.footer-contact i {
  margin-right: 15px;
}

.footer-menu {
  text-align: left;

    ul {
        list-style-type: none;
        padding: 0;
        line-height: 1.6;
        // text-align: center;
    }

}



