.footer {

  bottom: 0;
  background: #424190;
  padding-top: 20px;
  margin-top: 50px;
  color: white;

  h2 {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.2;
    }

  p {
    margin-bottom: 8px;
  }

  a, a:hover {
    text-decoration: none;
    color: white;
    font-weight: 200;
    line-height: 1.6;
  }
}

.footer-column {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-contact i {
  margin-right: 15px;
}

.footer-menu {

    ul {
        list-style-type: none;
        padding: 0;
        line-height: 1.6;
    }

}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 576px) {
  .footer {
    padding-top: 0;
  }

  .footer-column {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin: 0 10px;
  padding: 20px;
  }

  .footer-menu {
    padding-top: 40px;
  }
}

