<section>
  <div class="container">
    <div class="section-titles">
      <h1>Edycja Opinii</h1>
      <hr>
    </div>
    <%= render 'form', review: @review %>
    <%= link_to 'Wróć', reviews_path, class:"btn-back" %>
  </div>
</section>
