<section>
  <div class="container">
    <div class="section-titles">
      <h1>Opinie Klientów</h1>
      <hr>
    </div>

    <div class="reviews-buttons">
      <%= link_to "DODAJ OPINIE", new_review_path, class: "btn-cards" %>
    </div>
    <% if user_signed_in? %>
      <div class="review-list">
        <% @reviews.each do |review| %>
        <ul>
          <li>
            <%= review.content %>
            <%= link_to 'Zmien', edit_review_path(review) %>
            <%= link_to 'Usun', review_path(review), method: :delete, data: { confirm: 'Are you sure?' } %>

          </li>
        </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

