<section>
  <div class="container">
    <div class="section-titles">
      <h1>Nowa Opinia</h1>
      <hr>
    </div>
    <%= render 'form', review: @review %>
    <%#= link_to 'Show', @article, class:"btn-back" %>
    <%= link_to 'Wróć', reviews_path, class:"btn-back" %>
  </div>
</section>
